In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import chardet

In [159]:
with open("2018-QS-World-University-Rankings.csv", 'rb') as f:
    res = chardet.detect(f.read(100000))
res

{'encoding': None, 'confidence': 0.0, 'language': None}

In [2]:
df_2018 = pd.read_csv("2018-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])
df_2019 = pd.read_csv("2019-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])
df_2020 = pd.read_csv("2020-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])

In [3]:
df_2018.head()

,2018,2017,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
3,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
4,5,4,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5.0,A,100,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6

In [4]:
df_2019.head()

,2019,2018,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,17,99.8,8,100,41,95.5,77,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,16,99,13,99.8,56,70.5,190,98.6
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,1,99.3,40,99.8,9,92.1,151,75.7,164,98.5
3,4,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,98.7,...,72,100,4,100,5,96.8,115,90.3,103,97.2
4,5,6,UNIVERSITY OF OXFORD,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,7,83,56,99.6,63,98.8,43,96.8

In [5]:
df_2020.head()

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9

# Aligning the column

In [6]:
for d in [df_2018, df_2019, df_2020]:
    cols = []
    for column in d:
        if column[0].startswith('Unnamed'):
            cols.append(column[1])
        elif column[1].startswith('Unnamed'):
            cols.append(column[0])
        else:
            cols.append(column[0]+'_'+column[1])
    d.columns = cols

In [7]:
df_2018.head()

,2018,2017,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
3,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
4,5,4,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5.0,A,100,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6

In [8]:
df_2019.head()

,2019,2018,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,17,99.8,8,100,41,95.5,77,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,16,99,13,99.8,56,70.5,190,98.6
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,1,99.3,40,99.8,9,92.1,151,75.7,164,98.5
3,4,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,98.7,...,72,100,4,100,5,96.8,115,90.3,103,97.2
4,5,6,UNIVERSITY OF OXFORD,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,7,83,56,99.6,63,98.8,43,96.8

In [9]:
df_2020.head()

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9

In [10]:
df_2020.isna().sum()

Rank in 2020                    22
Rank in 2019                    72
Institution Name                 0
Country                          0
Classification_SIZE              0
FOCUS                           23
RESEARCH INTENSITY              24
AGE                             23
STATUS                          42
Academic Reputation_SCORE        0
RANK                             0
Employer Reputation_SCORE        0
RANK                             0
Faculty Student_SCORE            0
RANK                             0
Citations per Faculty_SCORE      0
RANK                             0
International Faculty_SCORE     46
RANK                             5
International Students_SCORE     6
RANK                             1
Overall Score                    0
dtype: int64

# Dropping Rank columns

In [11]:
df_2020 = df_2020.drop(['RANK'], axis = 1)

In [12]:
df_2018 = df_2018.drop(['RANK'], axis = 1)

In [13]:
df_2019 = df_2019.drop(['RANK'], axis = 1)

# Cleaning

In [14]:
cleaned = df_2020.copy()

In [15]:
cleaned = cleaned[~cleaned['Rank in 2020'].isna()] # remove the institutions without rank in 2020

In [16]:
cleaned = cleaned[~cleaned['Rank in 2019'].isna()] # remove the institutions without rank in 2020

In [17]:
cleaned.isna().sum()

Rank in 2020                     0
Rank in 2019                     0
Institution Name                 0
Country                          0
Classification_SIZE              0
FOCUS                           14
RESEARCH INTENSITY              15
AGE                             18
STATUS                          21
Academic Reputation_SCORE        0
Employer Reputation_SCORE        0
Faculty Student_SCORE            0
Citations per Faculty_SCORE      0
International Faculty_SCORE     39
International Students_SCORE     5
Overall Score                    0
dtype: int64

In [18]:
cleaned.isna().sum()

Rank in 2020                     0
Rank in 2019                     0
Institution Name                 0
Country                          0
Classification_SIZE              0
FOCUS                           14
RESEARCH INTENSITY              15
AGE                             18
STATUS                          21
Academic Reputation_SCORE        0
Employer Reputation_SCORE        0
Faculty Student_SCORE            0
Citations per Faculty_SCORE      0
International Faculty_SCORE     39
International Students_SCORE     5
Overall Score                    0
dtype: int64

In [19]:
for c in cleaned.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned[c].astype('str')))
    else:
        continue

-------
uniqueRank in 2020
['  104=' '  108=' '  116=' '  11=' '  120=' '  125=' '  130=' '  132='
 '  140=' '  154=' '  156=' '  160=' '  163=' '  165=' '  167=' '  169='
 '  170=' '  173=' '  177=' '  179=' '  186=' '  189=' '  18=' '  192='
 '  198=' '  200=' '  207=' '  212=' '  215=' '  217=' '  219=' '  227='
 '  22=' '  231=' '  234=' '  239=' '  247=' '  251=' '  253=' '  257='
 '  25=' '  262=' '  266=' '  268=' '  271=' '  274=' '  277=' '  281='
 '  285=' '  287=' '  291=' '  296=' '  298=' '  29=' '  302=' '  305='
 '  312=' '  314=' '  320=' '  322=' '  324=' '  329=' '  331=' '  336='
 '  338=' '  33=' '  340=' '  344=' '  349=' '  351=' '  353=' '  356='
 '  359=' '  35=' '  364=' '  368=' '  371=' '  372=' '  377=' '  379='
 '  383=' '  387=' '  389=' '  392=' '  395=' '  398=' '  400=' '  407='
 '  410=' '  412=' '  419=' '  421=' '  424=' '  427=' '  429=' '  432='
 '  436=' '  439=' '  442=' '  448=' '  451=' '  454=' '  458=' '  462='
 '  468=' '  474=' '  478=' '  480=' '  482=' '  484=' '  489=' '  491='
 '  498=' '  58=' '  60=' '  72=' '  78=' '  801-1000' '  83=' '  93='
 '  98=' '1' '10' '100' '101' '102' '103' '106' '107' '110' '111' '112'
 '113' '114' '115' '118' '119' '123' '124' '125' '126' '127' '128' '129'
 '13' '134' '135' '136' '137' '138' '139' '14' '144' '145' '146' '147'
 '148' '149' '15' '150' '151' '152' '153' '158' '159' '16' '162' '167'
 '17' '172' '176' '181' '182' '183' '184' '185' '188' '191' '194' '195'
 '197' '2' '20' '202' '203' '204' '205' '206' '21' '210' '211' '214' '222'
 '223' '224' '225' '226' '230' '233' '237' '238' '24' '242' '243' '244'
 '245' '246' '250' '256' '259' '260' '261' '265' '27' '270' '276' '279'
 '28' '280' '284' '3' '300' '301' '307' '308' '309' '31' '310' '311' '319'
 '32' '326' '327' '328' '334' '346' '347' '348' '358' '366' '367' '37'
 '370' '371' '374' '375' '376' '38' '39' '4' '40' '406' '41' '416' '417'
 '418' '42' '43' '435' '438' '44' '45' '46' '460' '461' '47' '477' '48'
 '49' '5' '50' '501-510' '51' '511-520' '52' '521-530' '53' '531-540' '54'
 '541-550' '55' '551-560' '56' '561-570' '57' '571-580' '581-590'
 '591-600' '6' '601-650' '62' '63' '64' '65' '651-700' '66' '67' '68' '69'
 '7' '70' '701-750' '71' '74' '75' '751-800' '76' '77' '8' '80' '81' '82'
 '83' '84' '85' '86' '87' '89' '9' '90' '91' '92' '95' '96' '97']
-------
uniqueRank in 2019
['  100=' '  104=' '  122=' '  126=' '  128=' '  132=' '  141=' '  149='
 '  151=' '  154=' '  156=' '  160=' '  163=' '  164=' '  172=' '  175='
 '  180=' '  184=' '  186=' '  193=' '  195=' '  200=' '  204=' '  208='
 '  212=' '  214=' '  218=' '  221=' '  223=' '  231=' '  237=' '  239='
 '  242=' '  244=' '  250=' '  253=' '  257=' '  260=' '  264=' '  269='
 '  272=' '  275=' '  277=' '  279=' '  283=' '  285=' '  289=' '  292='
 '  295=' '  299=' '  302=' '  306=' '  310=' '  313=' '  315=' '  317='
 '  319=' '  321=' '  323=' '  326=' '  329=' '  332=' '  336=' '  338='
 '  343=' '  345=' '  352=' '  355=' '  359=' '  363=' '  367=' '  369='
 '  373=' '  376=' '  381=' '  384=' '  387=' '  391=' '  394=' '  397='
 '  402=' '  405=' '  407=' '  412=' '  415=' '  417=' '  420=' '  422='
 '  426=' '  429=' '  432=' '  435=' '  439=' '  443=' '  446=' '  448='
 '  450=' '  453=' '  456=' '  461=' '  464=' '  470=' '  472=' '  476='
 '  478=' '  481=' '  489=' '  491=' '  495=' '  498=' '  500=' '  59='
 '  69=' '  75=' '  79=' '  801-1000' '  83=' '  87=' '  93=' '1' '10'
 '106' '107' '108' '109' '11' '110' '111' '112' '113' '114' '115' '116'
 '117' '118' '119' '12' '120' '121' '124' '125' '13' '130' '131' '134'
 '135' '136' '137' '138' '139' '14' '140' '144' '145' '146' '147' '148'
 '15' '153' '158' '159' '16' '162' '165' '166' '167' '168' '169' '17'
 '170' '171' '178' '179' '18' '183' '188' '189' '19' '190' '191' '192'
 '197' '198' '199' '2' '20' '202' '203' '206' '207' '21' '211' '217' '22'
 '220' '226' '227' '228' '229' '23' '230' '234' '235' '236' '24' '246'
 '247' '248' '249' '25' '255' '256' '259' '26' '263' '268' '27' '271'
 '274' '28' '287' '288' '29' '291' '298' '3' '30' '305' '308' '309' '31'
 '312' '32' '325' '328' '33' '34' '348' '349' '35' '350' '351' '354' '36'
 '361' '362' '37' '372' '375' '38' '380' '39' '396' '4' '40' '404' '41'
 '411' '419' '42' '43' '431' '44' '442' '45' '46' '460' '47' '475' '48'
 '480' '487' '488' '49' '494' '5' '50' '501-510' '51' '511-520' '52'
 '521-530' '53' '531-540' '54' '541-550' '55' '551-560' '56' '561-570'
 '57' '571-580' '58' '581-590' '591-600' '6' '601-650' '61' '62' '63' '64'
 '65' '651-700' '66' '67' '68' '7' '701-750' '71' '72' '73' '74' '751-800'
 '77' '78' '8' '81' '82' '85' '86' '89' '9' '90' '91' '92' '95' '96' '97'
 '98' '99']
-------
uniqueInstitution Name
['AGH University of Science and Technology' 'Aalborg University'
 'Aalto University' 'Aarhus University' 'Aberystwyth University'
 'Abo Akademi University' 'Abu Dhabi University'
 'Adam Mickiewicz University' 'Ain Shams University'
 'Airlangga University' 'Ajman University' 'Ajou University'
 'Al-Farabi Kazakh National University' 'Alexandria University'
 'Aligarh Muslim University (AMU), Aligarh' 'American University'
 'American University in Dubai' 'American University of Beirut (AUB)'
 'American University of Sharjah' 'Amirkabir University of Technology'
 'Amrita Vishwa Vidyapeetham' 'Ankara Üniversitesi' 'Anna University'
 'Aristotle University of Thessaloniki' 'Arizona State University'
 'Assiut University' 'Aston University' 'Ateneo de Manila University'
 'Athens University of Economics and Business' 'Auburn University'
 'Auckland University of Technology' 'Australian Catholic University'
 'Australian National University (ANU)' 'Babes-Bolyai University'
 'Baku State University' 'Banaras Hindu University'
 'Bandung Institute of Technology (ITB)'
 'Bangladesh University of Engineering and Technology' 'Bangor University'
 'Bar-Ilan University' 'Bauman Moscow State Technical University'
 'Baylor University' 'Beihang University'
 'Beijing Foreign Studies University' 'Beijing Institute of Technology'
 'Beijing Jiaotong University' 'Beijing Normal University'
 'Beijing University of Technology' 'Belarus State University'
 'Belarusian National Technical University'
 'Ben Gurion University of The Negev' 'Bilkent University'
 'Binghamton University SUNY' 'Birkbeck College, University of London'
 'Birla Institute of Technology and Science' 'Bogaziçi Üniversitesi'
 'Bogor Agricultural University' 'Bond University' 'Boston College'
 'Boston University' 'Bournemouth University' 'Brandeis University'
 'Brigham Young University' 'Brno University of Technology'
 'Brown University' 'Brunel University'
 'Budapest University of Technology and Economics'
 'COMSATS Institute of Information Technology' 'Cairo University'
 'California Institute of Technology (Caltech)' 'Cardiff University'
 'Carleton University' 'Carnegie Mellon University'
 'Case Western Reserve University' 'Central Queensland University'
 'Central South University' 'CentraleSupélec'
 'Chalmers University of Technology' 'Chang Gung University'
 'Charles Darwin University' 'Charles University' 'Chiang Mai University'
 'Chiba University' 'China Agricultural University'
 'Chonbuk National University' 'Chongqing University'
 'Chonnam National University' 'Christian-Albrechts-Universität zu Kiel'
 'Chulalongkorn University' 'Chung-Ang University'
 'Chungnam National University' 'City University of Hong Kong'
 'City University of New York' 'City, University of London'
 'Clark University' 'Clarkson University' 'Clemson University'
 'College of William & Mary' 'Colorado State University'
 'Columbia University' 'Comenius University in Bratislava'
 'Concordia University' 'Cornell University'
 'Corvinus University of Budapest' 'Coventry University'
 'Cracow University of Technology' 'Curtin University'
 'Czech Technical University In Prague' 'Dalhousie University'
 'Dalian University of Technology' 'Dankook University'
 'Dartmouth College' 'De La Salle University' 'Deakin University'
 'Delft University of Technology' 'Diponegoro University'
 'Dongguk University' 'Drexel University' 'Dublin City University (DCU)'
 'Dublin Institute of Technology (DIT)' 'Duke University'
 'Durham University' 'E.A.Buketov Karaganda State University'
 'ENS Paris-Saclay' 'ETH Zurich (Swiss Federal Institute of Technology)'
 'East China Normal University'
 'East China University of Science and Technology'
 'Eberhard Karls Universität Tübingen' 'Ecole Normale Supérieure de Lyon'
 'Ecole Polytechnique' 'Ecole Polytechnique Fédérale de Lausanne (EPFL)'
 'Ecole des Ponts ParisTech' 'Edinburgh Napier University'
 'Edith Cowan University (ECU)' 'Eindhoven University of Technology'
 'Emory University' 'Eotvos Lorand University'
 'Erasmus University Rotterdam'
 'Escuela Superior Politécnica del Litoral - ESPOL'
 'Ewha Womans University' 'Far Eastern Federal University'
 'Flinders University' 'Florida International University'
 'Florida State University' 'Fordham University'
 'Freie Universität Berlin' 'Fudan University'
 'Georg-August-Universität Göttingen' 'George Mason University'
 'George Washington University' 'Georgetown University'
 'Georgia Institute of Technology (Georgia Tech)'
 'Georgia State University' 'German Jordanian University'
 'Gifu University' 'Goldsmiths, University of London'
 'Griffith University' 'Gunma University'
 'Gwangju Institute of Science and Technology (GIST)'
 'HUFS \x96 Hankuk (Korea) University of Foreign Studies'
 'Hacettepe University' 'Hallym University' 'Hanyang University'
 'Harbin Institute of Technology' 'Harvard University'
 'Hebrew University of Jerusalem' 'Heriot-Watt University'
 'Hiroshima University' 'Hitotsubashi University' 'Hokkaido University'
 'Holy Spirit University of Kaslik' 'Hong Kong Baptist University (HKBU)'
 'Howard University' 'Huazhong University of Science and Technology'
 'Humboldt-Universität zu Berlin' 'Hunan University' 'ITMO University'
 'Illinois Institute of Technology'
 'Imam Abdulrahman Bin Faisal University (IAU) (formerly University of Dammam)'
 'Imperial College London' 'Indian Institute of Science (IISc) Bangalore'
 'Indian Institute of Technology Bombay (IITB)'
 'Indian Institute of Technology Delhi (IITD)'
 'Indian Institute of Technology Guwahati (IITG)'
 'Indian Institute of Technology Kanpur (IITK)'
 'Indian Institute of Technology Kharagpur (IITKGP)'
 'Indian Institute of Technology Madras (IITM)'
 'Indian Institute of Technology Roorkee (IITR)'
 'Indiana University Bloomington'
 'Indiana University-Purdue University Indianapolis' 'Inha University'
 'Institut National des Sciences Appliquées de Lyon (INSA)'
 'Instituto Politécnico Nacional (IPN)'
 'Instituto Tecnológico Autonomo de México (ITAM)'
 'Instituto Tecnológico de Buenos Aires (ITBA)'
 'International Islamic University Malaysia (IIUM)'
 'Iowa State University' 'Iran University of Science and Technology'
 'Istanbul Technical University' 'Istanbul University'
 'Jadavpur University' 'Jagiellonian University'
 'James Cook University (JCU)' 'Jamia Millia Islamia, New Delhi'
 'Jilin University' 'Johannes Gutenberg Universität Mainz'
 'Johannes Kepler Universität Linz (JKU)' 'Johns Hopkins University'
 'Jordan University of Science and Technology'
 'Julius-Maximilians-Universität Würzburg'
 'Justus-Liebig-Universität Gießen'
 'KAIST - Korea Advanced Institute of Science and Technology'
 'KIT, Karlsruher Institut für Technologie'
 'KTH, Royal Institute of Technology' 'Kagoshima University'
 'Kanazawa University' 'Kansas State University'
 'Karaganda State Technical University' 'Karl-Franzens-Universität Graz'
 'Kasetsart University' 'Katholieke Universiteit Leuven'
 'Kaunas University of Technology'
 'Kazakh Ablai khan University of International Relations and World Languages'
 'Kazakh National Agrarian University'
 'Kazakh National Pedagogical University Abai'
 'Kazakh National Technical University after K.I.Satpayev'
 'Kazakh-British Technical University' 'Kazan Federal University'
 'Keele University' 'Keio University' 'Kent State University'
 'Khalifa University' 'Khon Kaen University'
 'King Abdul Aziz University (KAU)'
 'King Fahd University of Petroleum & Minerals (KFUPM)'
 'King Faisal University' 'King Khalid University'
 "King Mongkut's University of Technology Thonburi"
 'King Saud University (KSU)' "King's College London (KCL)"
 'Kingston University, London' 'Kobe University' 'Konkuk University'
 'Korea University' 'Koç University' 'Kumamoto University'
 'Kuwait University' 'Kyoto Institute of Technology' 'Kyoto University'
 'Kyung Hee University' 'Kyungpook National University'
 'Kyushu Institute of Technology' 'Kyushu University'
 'L.N. Gumilyov Eurasian National University' 'La Trobe University'
 'Lahore University of Management Sciences (LUMS)' 'Lancaster University'
 'Lanzhou University' 'Lappeenranta University of Technology'
 'Laval University' 'Lebanese American University' 'Lehigh University'
 'Leibniz Universität Hannover' 'Leiden University' 'Lincoln University'
 'Lingnan University (Hong Kong)' 'Linköping University'
 'Lobachevsky State University of Nizhni Novgorod'
 'Lodz University of Technology' 'Lomonosov Moscow State University'
 'London Metropolitan University'
 'London School of Economics and Political Science (LSE)'
 'London South Bank University' 'Loughborough University'
 'Louisiana State University' 'Loyola University Chicago'
 'Ludwig-Maximilians-Universität München' 'Lund University'
 'M.O.Auezov South Kazakhstan State University' 'Maastricht University'
 'Macquarie University' 'Mahidol University'
 'Manchester Metropolitan University'
 'Manipal Academy of Higher Education' 'Marquette University'
 'Martin-Luther-Universität Halle-Wittenberg' 'Masaryk University'
 'Massachusetts Institute of Technology (MIT)' 'Massey University'
 'Maynooth University' 'McGill University' 'McMaster University'
 'Memorial University of Newfoundland' 'Miami University'
 'Michigan State University' 'Michigan Technological University'
 'Middle East Technical University' 'Middlesex University'
 'Missouri University of Science and Technology' 'Monash University'
 'Moscow Institute of Physics and Technology State University'
 'Moscow State Institute of International Relations \x96 MGIMO University'
 'Multimedia University (MMU)' 'Murdoch University'
 'Mustansiriyah University' 'Nagasaki University'
 'Nagoya Institute of Technology (NIT)' 'Nagoya University'
 'Nanjing University' 'Nankai University'
 'Nanyang Technological University (NTU)' 'National Central University'
 'National Cheng Kung University' 'National Chengchi University'
 'National Chiao Tung University' 'National Chung Cheng University'
 'National Chung Hsing University'
 'National Research Nuclear University "MEPhI" (Moscow Engineering Physics Institute)'
 'National Research Saratov State University'
 'National Research University - Higher School of Economics (HSE)'
 'National Sun Yat-sen University'
 'National Taipei University of Technology'
 'National Taiwan Normal University' 'National Taiwan University (NTU)'
 'National Taiwan University of Science and Technology'
 'National Technical University "Kharkiv Polytechnic Institute"'
 'National Technical University of Athens'
 'National Technical University of Ukraine "Kyiv Polytechnic Institute"'
 'National Tsing Hua University' 'National University Lviv Polytechnic'
 'National University of Ireland, Galway (NUIG)'
 'National University of Science and Technology "MISIS"'
 'National University of Sciences and Technology (NUST) Islamabad'
 'National University of Singapore (NUS)' 'National Yang Ming University'
 'National and Kapodistrian University of Athens'
 'New Jersey Institute of Technology (NJIT)' 'New School University'
 'New York University (NYU)' 'Newcastle University'
 'Nicolaus Copernicus University' 'Niigata University'
 'North Carolina State University' 'Northeastern University'
 'Northumbria University at Newcastle' 'Northwestern University'
 'Norwegian University of Science and Technology'
 'Nottingham Trent University' 'Novosibirsk State Technical University'
 'Novosibirsk State University' 'Ohio State University' 'Ohio University'
 'Okayama University' 'Oklahoma State University'
 'Oregon State University' 'Osaka City University'
 'Osaka Prefecture University' 'Osaka University'
 'Oxford Brookes University' 'Padjadjaran University'
 'Pakistan Institute of Engineering and Applied Sciences (PIEAS)'
 'Palacký University in Olomouc' 'Paris Lodron Universität Salzburg'
 'Peking University' 'Pennsylvania State University'
 'Peter the Great St.Petersburg Polytechnic University'
 'Philipps-Universität Marburg'
 'Plekhanov Russian University of Economics'
 'Pohang University of Science and Technology (POSTECH)'
 'Politecnico di Milano' 'Politecnico di Torino'
 'Pontificia Universidad Catolica del Ecuador'
 'Pontificia Universidad Católica Argentina Santa María de los Buenos Aires (UCA)'
 'Pontificia Universidad Católica de Chile'
 'Pontificia Universidad Católica de Valparaíso'
 'Pontificia Universidad Católica del Perú'
 'Pontificia Universidad Javeriana'
 'Pontificia Universidade Católica de São Paulo (PUC-SP)'
 'Pontificia Universidade Católica do Rio Grande do Sul'
 'Pontificia Universidade Católica do Rio de Janeiro - PUC - Rio'
 'Poznan University of Technology' 'Prince of Songkla University'
 'Princeton University' 'Purdue University' 'Pusan National University'
 'Qatar University' 'Quaid-i-azam University'
 'Queen Mary University of London (QMUL)' "Queen's University"
 "Queen's University of Belfast"
 'Queensland University of Technology (QUT)' 'RMIT University'
 'RUDN University' 'Radboud University Nijmegen'
 'Renmin (People\x92s) University of China'
 'Rensselaer Polytechnic Institute'
 'Rheinisch-Westfälische Technische Hochschule Aachen'
 'Rheinische Friedrich-Wilhelms-Universität Bonn' 'Rhodes University'
 'Rice University' 'Riga Stradins University' 'Riga Technical University'
 'Ritsumeikan University' 'Royal Holloway University of London'
 'Ruhr-Universität Bochum' 'Ruprecht-Karls-Universität Heidelberg'
 'Rutgers - The State University of New Jersey, New Brunswick'
 'Rutgers - The State University of New Jersey, Newark'
 'Ryerson University'
 'SOAS - School of Oriental and African Studies, University of London'
 'Sabanci University' 'Saint-Petersburg State University'
 'Saitama University'
 'Samara National Research University (Samara University)'
 'San Diego State University' 'Sapienza - Università di Roma'
 'Savitribai Phule Pune University' 'Sciences Po Paris'
 'Scuola Normale Superiore di Pisa' "Scuola Superiore Sant'Anna Pisa"
 'Sejong University' 'Seoul National University (SNU)'
 'Seoul National University of Science and Technology'
 'Sepuluh Nopember Institute of Technology'
 'Shahid Beheshti University Tehran' 'Shandong University'
 'Shanghai International Studies University'
 'Shanghai Jiao Tong University' 'Shanghai University'
 'Sharif University of Technology' 'Shinshu University'
 'Shiraz University' 'Sichuan University' 'Simon Fraser University'
 'Singapore Management University'
 'Slovak University of Technology in Bratislava' 'Smith College'
 'Sofia University "St. Kliment Ohridski"' 'Sogang University'
 'Sophia University' 'Sorbonne University'
 'South China University of Technology' 'South Ural State University'
 'Southeast University' 'Southern Cross University'
 'Southern Federal University' 'Southern Methodist University'
 'Stanford University' 'Stellenbosch University'
 'Stevens Institute of Technology' 'Stockholm University'
 'Stony Brook University' 'Sultan Qaboos University'
 'Sumy State University' 'Sun Yat-sen University'
 'Sungkyunkwan University' 'Swansea University'
 'Swinburne University of Technology' 'Syracuse University'
 'Taipei Medical University' 'Tallinn University'
 'Tallinn University of Technology'
 'Taras Shevchenko National University of Kyiv' "Taylor's University"
 'Technical University of Denmark' 'Technical University of Kosice'

In [20]:
cleaned_na = cleaned.dropna()

In [21]:
cleaned_na.replace('-', np.nan).isna().sum()

Rank in 2020                      0
Rank in 2019                      0
Institution Name                  0
Country                           0
Classification_SIZE               0
FOCUS                             0
RESEARCH INTENSITY                0
AGE                               0
STATUS                            0
Academic Reputation_SCORE       326
Employer Reputation_SCORE       300
Faculty Student_SCORE           233
Citations per Faculty_SCORE     256
International Faculty_SCORE     250
International Students_SCORE    251
Overall Score                     0
dtype: int64

In [22]:
cleaned_na = cleaned_na.replace('-', np.nan).dropna() # some values represented null value with -

In [23]:
cleaned_na.isna().sum()

Rank in 2020                    0
Rank in 2019                    0
Institution Name                0
Country                         0
Classification_SIZE             0
FOCUS                           0
RESEARCH INTENSITY              0
AGE                             0
STATUS                          0
Academic Reputation_SCORE       0
Employer Reputation_SCORE       0
Faculty Student_SCORE           0
Citations per Faculty_SCORE     0
International Faculty_SCORE     0
International Students_SCORE    0
Overall Score                   0
dtype: int64

In [198]:
for c in cleaned.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_na[c].astype('str')))
    else:
        continue

-------
uniqueRank in 2020
['  104=' '  108=' '  116=' '  11=' '  120=' '  125=' '  130=' '  132='
 '  140=' '  154=' '  156=' '  160=' '  163=' '  165=' '  167=' '  169='
 '  170=' '  173=' '  177=' '  179=' '  186=' '  189=' '  18=' '  192='
 '  198=' '  200=' '  207=' '  212=' '  215=' '  217=' '  219=' '  227='
 '  22=' '  231=' '  234=' '  239=' '  247=' '  251=' '  253=' '  257='
 '  25=' '  262=' '  266=' '  268=' '  271=' '  274=' '  277=' '  281='
 '  285=' '  287=' '  291=' '  296=' '  298=' '  29=' '  302=' '  305='
 '  312=' '  314=' '  320=' '  322=' '  324=' '  329=' '  331=' '  336='
 '  338=' '  33=' '  340=' '  344=' '  349=' '  351=' '  353=' '  356='
 '  359=' '  35=' '  364=' '  368=' '  371=' '  372=' '  377=' '  379='
 '  383=' '  387=' '  389=' '  392=' '  395=' '  398=' '  400=' '  407='
 '  410=' '  412=' '  419=' '  421=' '  424=' '  427=' '  429=' '  432='
 '  436=' '  439=' '  442=' '  448=' '  451=' '  454=' '  458=' '  462='
 '  468=' '  474=' '  478=' '  480=' '  482=' '  484=' '  489=' '  491='
 '  498=' '  58=' '  60=' '  72=' '  78=' '  83=' '  93=' '  98=' '1' '10'
 '100' '101' '102' '103' '106' '107' '110' '111' '112' '113' '114' '115'
 '118' '119' '123' '124' '125' '126' '127' '128' '129' '13' '134' '135'
 '136' '137' '138' '139' '14' '144' '145' '146' '147' '148' '149' '15'
 '150' '151' '152' '153' '158' '159' '16' '162' '167' '17' '172' '176'
 '181' '182' '183' '184' '185' '188' '191' '194' '195' '197' '2' '20'
 '202' '203' '205' '206' '21' '210' '211' '214' '222' '223' '224' '225'
 '226' '230' '233' '237' '238' '24' '242' '243' '244' '245' '246' '250'
 '256' '259' '260' '261' '265' '27' '270' '276' '279' '28' '280' '284' '3'
 '300' '301' '307' '308' '309' '31' '310' '319' '32' '326' '327' '328'
 '334' '346' '347' '348' '358' '366' '367' '37' '370' '371' '374' '376'
 '38' '39' '4' '40' '406' '41' '416' '417' '418' '42' '43' '435' '438'
 '44' '45' '46' '460' '461' '47' '477' '48' '49' '5' '50' '51' '52' '54'
 '55' '56' '57' '6' '62' '63' '64' '65' '66' '67' '68' '69' '7' '70' '71'
 '74' '75' '76' '77' '8' '80' '81' '82' '83' '84' '85' '86' '87' '89' '9'
 '90' '91' '92' '95' '96' '97']
-------
uniqueRank in 2019
['  100=' '  104=' '  122=' '  126=' '  128=' '  132=' '  141=' '  149='
 '  151=' '  154=' '  156=' '  160=' '  163=' '  164=' '  172=' '  175='
 '  180=' '  184=' '  186=' '  193=' '  195=' '  200=' '  204=' '  208='
 '  212=' '  214=' '  218=' '  221=' '  223=' '  231=' '  237=' '  239='
 '  242=' '  244=' '  250=' '  253=' '  257=' '  260=' '  264=' '  269='
 '  272=' '  275=' '  277=' '  279=' '  283=' '  285=' '  289=' '  292='
 '  295=' '  299=' '  302=' '  306=' '  310=' '  313=' '  315=' '  317='
 '  319=' '  321=' '  323=' '  326=' '  329=' '  332=' '  336=' '  338='
 '  343=' '  345=' '  352=' '  355=' '  359=' '  363=' '  367=' '  369='
 '  373=' '  376=' '  381=' '  384=' '  387=' '  391=' '  394=' '  397='
 '  402=' '  405=' '  407=' '  412=' '  415=' '  417=' '  420=' '  422='
 '  426=' '  429=' '  432=' '  435=' '  439=' '  443=' '  446=' '  448='
 '  450=' '  453=' '  456=' '  461=' '  464=' '  470=' '  472=' '  476='
 '  478=' '  481=' '  489=' '  491=' '  498=' '  500=' '  59=' '  69='
 '  75=' '  79=' '  83=' '  87=' '  93=' '1' '10' '106' '107' '108' '109'
 '11' '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12'
 '120' '121' '124' '125' '13' '130' '131' '134' '135' '136' '137' '138'
 '139' '14' '140' '144' '145' '146' '147' '148' '15' '153' '158' '159'
 '16' '162' '165' '166' '168' '169' '17' '170' '171' '178' '179' '18'
 '183' '188' '189' '19' '190' '191' '192' '197' '198' '199' '2' '20' '202'
 '203' '206' '207' '21' '211' '217' '22' '220' '226' '227' '228' '229'
 '23' '230' '234' '235' '236' '24' '246' '247' '248' '249' '25' '255'
 '256' '259' '26' '263' '268' '27' '271' '274' '28' '287' '288' '29' '291'
 '298' '3' '30' '305' '308' '309' '31' '312' '32' '325' '328' '33' '34'
 '348' '349' '35' '350' '351' '354' '36' '361' '362' '37' '372' '375' '38'
 '380' '39' '396' '4' '40' '404' '41' '411' '419' '42' '43' '431' '44'
 '442' '45' '46' '460' '47' '475' '48' '480' '487' '488' '49' '5'
 '501-510' '51' '511-520' '52' '521-530' '53' '531-540' '54' '541-550'
 '55' '551-560' '56' '57' '58' '6' '601-650' '61' '62' '63' '64' '65' '66'
 '67' '68' '7' '71' '72' '73' '74' '77' '78' '8' '81' '82' '85' '86' '89'
 '9' '90' '91' '92' '95' '96' '97' '98' '99']
-------
uniqueInstitution Name
['Aalborg University' 'Aalto University' 'Aarhus University'
 'Aberystwyth University' 'Al-Farabi Kazakh National University'
 'American University of Beirut (AUB)' 'American University of Sharjah'
 'Amirkabir University of Technology' 'Arizona State University'
 'Aston University' 'Auckland University of Technology'
 'Australian National University (ANU)'
 'Bandung Institute of Technology (ITB)'
 'Bauman Moscow State Technical University' 'Beihang University'
 'Beijing Institute of Technology' 'Beijing Normal University'
 'Belarus State University' 'Ben Gurion University of The Negev'
 'Birkbeck College, University of London' 'Bond University'
 'Boston College' 'Boston University' 'Brandeis University'
 'Brown University' 'Brunel University'
 'California Institute of Technology (Caltech)' 'Cardiff University'
 'Carnegie Mellon University' 'Case Western Reserve University'
 'CentraleSupélec' 'Chalmers University of Technology'
 'Chang Gung University' 'Charles University' 'Chiba University'
 'Christian-Albrechts-Universität zu Kiel' 'Chulalongkorn University'
 'Chung-Ang University' 'City University of Hong Kong'
 'City, University of London' 'Colorado State University'
 'Columbia University' 'Concordia University' 'Cornell University'
 'Curtin University' 'Czech Technical University In Prague'
 'Dalhousie University' 'Dartmouth College' 'Deakin University'
 'Delft University of Technology' 'Dongguk University'
 'Dublin City University (DCU)' 'Duke University' 'Durham University'
 'ENS Paris-Saclay' 'ETH Zurich (Swiss Federal Institute of Technology)'
 'Eberhard Karls Universität Tübingen' 'Ecole Normale Supérieure de Lyon'
 'Ecole Polytechnique' 'Ecole Polytechnique Fédérale de Lausanne (EPFL)'
 'Ecole des Ponts ParisTech' 'Eindhoven University of Technology'
 'Emory University' 'Erasmus University Rotterdam'
 'Ewha Womans University' 'Flinders University' 'Florida State University'
 'Freie Universität Berlin' 'Fudan University'
 'Georg-August-Universität Göttingen' 'George Washington University'
 'Georgetown University' 'Georgia Institute of Technology (Georgia Tech)'
 'Goldsmiths, University of London' 'Griffith University'
 'Gwangju Institute of Science and Technology (GIST)'
 'HUFS \x96 Hankuk (Korea) University of Foreign Studies'
 'Hanyang University' 'Harbin Institute of Technology'
 'Harvard University' 'Hebrew University of Jerusalem'
 'Heriot-Watt University' 'Hiroshima University' 'Hitotsubashi University'
 'Hokkaido University' 'Hong Kong Baptist University (HKBU)'
 'Huazhong University of Science and Technology'
 'Humboldt-Universität zu Berlin' 'ITMO University'
 'Illinois Institute of Technology' 'Imperial College London'
 'Indian Institute of Science (IISc) Bangalore'
 'Indian Institute of Technology Bombay (IITB)'
 'Indian Institute of Technology Delhi (IITD)'
 'Indian Institute of Technology Kanpur (IITK)'
 'Indian Institute of Technology Kharagpur (IITKGP)'
 'Indian Institute of Technology Madras (IITM)'
 'Indiana University Bloomington' 'Jagiellonian University'
 'James Cook University (JCU)' 'Jilin University'
 'Johannes Gutenberg Universität Mainz'
 'Johannes Kepler Universität Linz (JKU)' 'Johns Hopkins University'
 'Julius-Maximilians-Universität Würzburg'
 'KAIST - Korea Advanced Institute of Science and Technology'
 'KIT, Karlsruher Institut für Technologie'
 'KTH, Royal Institute of Technology' 'Katholieke Universiteit Leuven'
 'Kazan Federal University' 'Keio University' 'Khalifa University'
 'King Abdul Aziz University (KAU)'
 'King Fahd University of Petroleum & Minerals (KFUPM)'
 'King Saud University (KSU)' "King's College London (KCL)"
 'Kobe University' 'Korea University' 'Koç University' 'Kyoto University'
 'Kyung Hee University' 'Kyushu University'
 'L.N. Gumilyov Eurasian National University' 'La Trobe University'
 'Lancaster University' 'Laval University' 'Leiden University'
 'Lincoln University' 'Linköping University'
 'Lomonosov Moscow State University'
 'London School of Economics and Political Science (LSE)'
 'Loughborough University' 'Ludwig-Maximilians-Universität München'
 'Lund University' 'M.O.Auezov South Kazakhstan State University'
 'Maastricht University' 'Macquarie University' 'Mahidol University'
 'Massachusetts Institute of Technology (MIT)' 'Massey University'
 'McGill University' 'McMaster University' 'Michigan State University'
 'Monash University'
 'Moscow Institute of Physics and Technology State University'
 'Moscow State Institute of International Relations \x96 MGIMO University'
 'Nagoya University' 'Nanjing University' 'Nankai University'
 'Nanyang Technological University (NTU)' 'National Central University'
 'National Cheng Kung University' 'National Chiao Tung University'
 'National Research Nuclear University "MEPhI" (Moscow Engineering Physics Institute)'
 'National Research University - Higher School of Economics (HSE)'
 'National Sun Yat-sen University' 'National Taiwan Normal University'
 'National Taiwan University (NTU)'
 'National Taiwan University of Science and Technology'
 'National Technical University of Athens' 'National Tsing Hua University'
 'National University of Ireland, Galway (NUIG)'
 'National University of Science and Technology "MISIS"'
 'National University of Sciences and Technology (NUST) Islamabad'
 'National University of Singapore (NUS)' 'National Yang Ming University'
 'New York University (NYU)' 'Newcastle University'
 'North Carolina State University' 'Northeastern University'
 'Northwestern University'
 'Norwegian University of Science and Technology'
 'Novosibirsk State University' 'Ohio State University'
 'Oregon State University' 'Osaka University' 'Oxford Brookes University'
 'Peking University' 'Pennsylvania State University'
 'Peter the Great St.Petersburg Polytechnic University'
 'Pohang University of Science and Technology (POSTECH)'
 'Politecnico di Milano' 'Politecnico di Torino'
 'Pontificia Universidad Católica Argentina Santa María de los Buenos Aires (UCA)'
 'Pontificia Universidad Católica de Chile'
 'Pontificia Universidad Católica del Perú'
 'Pontificia Universidad Javeriana' 'Princeton University'
 'Purdue University' 'Qatar University'
 'Queen Mary University of London (QMUL)' "Queen's University"
 "Queen's University of Belfast"
 'Queensland University of Technology (QUT)' 'RMIT University'
 'RUDN University' 'Radboud University Nijmegen'
 'Rensselaer Polytechnic Institute'
 'Rheinisch-Westfälische Technische Hochschule Aachen'
 'Rheinische Friedrich-Wilhelms-Universität Bonn' 'Rice University'
 'Royal Holloway University of London' 'Ruhr-Universität Bochum'
 'Ruprecht-Karls-Universität Heidelberg'
 'Rutgers - The State University of New Jersey, New Brunswick'
 'SOAS - School of Oriental and African Studies, University of London'
 'Saint-Petersburg State University' 'Sapienza - Università di Roma'
 'Sciences Po Paris' 'Seoul National University (SNU)'
 'Shandong University' 'Shanghai Jiao Tong University'
 'Shanghai University' 'Sharif University of Technology'
 'Simon Fraser University' 'Singapore Management University'
 'Sogang University' 'Sorbonne University'
 'South China University of Technology' 'Stanford University'
 'Stellenbosch University' 'Stockholm University' 'Stony Brook University'
 'Sultan Qaboos University' 'Sun Yat-sen University'
 'Sungkyunkwan University' 'Swansea University'
 'Swinburne University of Technology' 'Taipei Medical University'
 'Technical University of Denmark'
 'Technion - Israel Institute of Technology'
 'Technische Universität Berlin' 'Technische Universität Darmstadt'
 'Technische Universität Dresden' 'Technische Universität München'
 'Technische Universität Wien' 'Tecnológico de Monterrey (ITESM)'
 'Tel Aviv University' 'Texas A&M University'
 'The American University in Cairo' 'The Catholic University of Korea'
 'The Chinese University of Hong Kong (CUHK)'
 'The Hong Kong Polytechnic University'
 'The Hong Kong University of Science and Technology (HKUST)'
 'The University of Adelaide' 'The University of Auckland'
 'The University of Georgia' 'The University of Manchester'
 'The University of Melbourne' 'The University of New South Wales (UNSW)'
 'The University of Nottingham' 'The University of Queensland (UQ)'
 'The University of Sheffield' 'The University of Sydney'
 'The University of Tokyo' 'The University of Warwick'
 'The University of Western Australia (UWA)' 'Tianjin University'
 'Tilburg University' 'Tohoku University' 'Tokyo Institute of Technology'
 'Tokyo Medical and Dental University' 'Tomsk Polytechnic University'
 'Tomsk State University' 'Tongji University'
 'Trinity College Dublin (TCD)' 'Tsinghua University' 'Tufts University'
 'Tulane University' 'UCL (University College London)' 'UCSI University'
 'Umeå University' 'United Arab Emirates University' 'Universidad Austral'
 'Universidad Autónoma de Madrid' 'Universidad Carlos III de Madrid'
 'Universidad Complutense de Madrid (UCM)'
 'Universidad Externado de Colombia'
 'Universidad Nacional Autónoma de México (UNAM)'
 'Universidad Nacional de Colombia' 'Universidad Politecnica de Valencia'
 'Universidad Politécnica de Madrid' 'Universidad de Belgrano'
 'Universidad de Buenos Aires' 'Universidad de Chile'
 'Universidad de Los Andes Colombia' 'Universidad de Montevideo'
 'Universidad de Navarra' 'Universidad de Palermo'
 'Universidad de Santiago de Chile (USACH)' 'Universidad de Zaragoza'
 'Universidade Estadual Paulista "Júlio de Mesquita Filho"'
 'Universidade Estadual de Campinas (Unicamp)'
 'Universidade Federal de São Paulo (UNIFESP)'
 'Universidade Federal do Rio de Janeiro' 'Universidade Nova de Lisboa'
 'Universidade de São Paulo (USP)' 'Universitas Gadjah Mada'
 'Universitat Autónoma de Barcelona'
 'Universitat Politècnica de Catalunya' 'Universitat Pompeu Fabra'
 'Universitat de Barcelona (UB)' 'Universiti Brunei Darussalam (UBD)'
 'Universiti Kebangsaan Malaysia (UKM)' 'Universiti Malaya (UM)'
 'Universiti Putra Malaysia (UPM)' 'Universiti Sains Malaysia (USM)'
 'Universiti Teknologi Brunei' 'Universiti Teknologi Malaysia (UTM)'
 'Universiti Teknologi Petronas (Petronas)'
 'University College Cork (UCC)' 'University College Dublin (UCD)'
 'University at Buffalo SUNY' 'University of Aberdeen'
 'University of Alberta' 'University of Amsterdam' 'University of Antwerp'
 'University of Arizona' 'University of Basel' 'University of Bath'
 'University of Bergen' 'University of Bern' 'University of Birmingham'
 'University of Bristol' 'University of British Columbia'
 'University of Calgary' 'University of California, Berkeley (UCB)'
 'University of California, Davis (UCD)'
 'University of California, Irvine (UCI)'
 'University of California, Los Angeles (UCLA)'
 'University of California, Riverside (UCR)'
 'University of California, San Diego (UCSD)'
 'University of California, Santa Barbara (UCSB)'
 'University of California, Santa Cruz (UCSC)' 'University of Cambridge'
 'University of Canberra' 'University of Canterbury'
 'University of Cape Town' 'University of Chicago' 'University of Coimbra'
 'University of Colorado at Boulder' 'University of Colorado at Denver'
 'University of Connecticut' 'University of Copenhagen'
 'University of Delaware' 'University of Delhi' 'University of Dundee'
 'University of East Anglia (UEA)' 'University of Eastern Finland'
 'University of Edinburgh' 'University of Essex' 'University of Exeter'
 'University of Florida' 'University of Geneva' 'University of Ghent'
 'University of Glasgow' 'University of Gothenburg'
 'University of Groningen' 'University of Hawaii at M?\x81noa'
 'University of Helsinki' 'University of Hong Kong (HKU)'
 'University of Illinois at Urbana-Champaign'
 'University of Illinois, Chicago (UIC)' 'University of Indonesia'
 'University of Iowa' 'University of Jyväskylä' 'University of Kansas'
 'University of Kent' 'University of Lausanne' 'University of Leeds'
 'University of Leicester' 'University of Liege' 'University of Lisbon'
 'University of Liverpool' 'University of Macau'
 'University of Maryland, Baltimore County'
 'University of Maryland, College Park'
 'University of Massachusetts, Amherst' 'University of Miami'
 'University of Michigan' 'University of Minnesota'
 'University of Newcastle' 'University of North Carolina, Chapel Hill'
 'University of Notre Dame' 'University of Oslo' 'University of Otago'
 'University of Ottawa' 'University of Oulu' 'University of Oxford'
 'University of Pennsylvania' 'University of Pittsburgh'
 'University of Porto' 'University of Reading' 'University of Rochester'
 'University of Saskatchewan'
 'University of Science and Technology Beijing'
 'University of Science and Technology of China'
 'University of South Australia (UniSA)' 'University of Southampton'
 'University of Southern California' 'University of Southern Denmark'
 'University of St Andrews' 'University of St Gallen (HSG)'
 'University of Stirling' 'University of Strathclyde'
 'University of Surrey' 'University of Sussex' 'University of Tartu'
 'University of Tasmania' 'University of Technology Sydney (UTS)'
 'University of Tennessee' 'University of Texas at Austin'
 'University of The Witwatersrand' 'University of Toronto'
 'University of Tromso' 'University of Tsukuba' 'University of Turku'
 'University of Twente' 'University of Utah' 'University of Victoria'
 'University of Virginia' 'University of Waikato' 'University of Warsaw'
 'University of Washington' 'University of Waterloo'
 'University of Wisconsin-Madison' 'University of Wollongong'
 'University of York' 'University of Zurich'
 'University of the Philippines'
 'Università degli Studi di Firenze (UNIFI)'
 'Università degli Studi di Milano'
 'Università degli Studi di Napoli Federico II'
 'Università degli Studi di Padova (UNIPD)'
 'Università degli Studi di Trento' 'Università di Bologna (UNIBO)'
 'Università di Pisa' 'Universität Erlangen-Nürnberg'
 'Universität Frankfurt am Main' 'Universität Freiburg'
 'Universität Hamburg' 'Universität Innsbruck' 'Universität Konstanz'
 'Universität Köln' 'Universität Mannheim' 'Universität Stuttgart'
 'Universität Ulm' 'Universität Wien' 'Universität des Saarlandes'
 'Université Aix-Marseille' 'Université Catholique de Louvain (UCL)'
 'Université Grenoble-Alpes (UGA)' 'Université Libre de Bruxelles (ULB)'
 'Université Paris 1 Panthéon-Sorbonne' 'Université Paris-Sud 11'
 'Université de Bordeaux' 'Université de Montpellier'
 'Université de Montréal' 'Université de Strasbourg' 'Uppsala University'
 'Ural Federal University' 'Utrecht University'
 'V.N. Karazin Kharkiv National University' 'Vanderbilt University'
 'Victoria University of Wellington' 'Vilnius University'
 'Virginia Polytechnic Institute (Virginia Tech)'
 'Vrije Universiteit Amsterdam' 'Vrije Universiteit Brussel (VUB)'
 'Wageningen University' 'Wake Forest University' 'Waseda University'
 'Washington State University' 'Washington University in St. Louis'
 'Wayne State University' 'Western Sydney University' 'Western University'
 'Westfälische Wilhelms-Universität Münster' 'Wuhan University'
 "Xi'an Jiaotong University" 'Xiamen University' 'Yale University'
 'Yokohama City University' 'Yonsei University' 'Zhejiang University']
-------
uniqueCountry
['Argentina' 'Australia' 'Austria' 'Belarus' 'Belgium' 'Brazil' 'Brunei'
 'Canada' 'Chile' 'China' 'Colombia' 'Czech Republic' 'Denmark' 'Egypt'
 'Estonia' 'Finland' 'France' 'Germany' 'Greece' 'Hong Kong' 'India'
 'Indonesia' 'Iran' 'Ireland' 'Israel' 'Italy' 'Japan' 'Kazakhstan'
 'Lebanon' 'Lithuania' 'Macau' 'Malaysia' 'Mexico' 'Netherlands'

In [24]:
cleaned_na[cleaned_na['Rank in 2019'] == '551-560']

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
473,474=,551-560,Pontificia Universidad Católica del Perú,Peru,L,FO,HI,5.0,B,36.5,56.3,19.2,1.7,7,2.3,25

In [25]:
cleaned_na['Rank in 2020'] = cleaned_na['Rank in 2020'].str.strip().str.replace('=','')
cleaned_na['Rank in 2019'] = cleaned_na['Rank in 2019'].str.strip().str.replace('=','') # remove = in columns with = alongside rank value

In [26]:
cleaned_na

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,100,100,99.8,100,94.1,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,100,100,98.6,99.8,67.7,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,100,98.7,99.6,86.3,62.2,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,100,100,84.7,99.7,98.5,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,81.2,100,100,99.4,87.3,96.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,491,439,University of Delaware,United States,L,CO,VH,5.0,A,11,10.2,11.6,67.1,39.3,22.5,24.3
496,491,481,V.N. Karazin Kharkiv National University,Ukraine,L,FC,MD,5.0,A,10.8,11.4,72.2,1.8,1.3,78.4,24.3
497,498,531-540,Czech Technical University In Prague,Czech Republic,L,SP,VH,5.0,A,18.7,39.7,33.9,10.6,18.2,57.5,24.2
498,498,422,Université de Montpellier,France,XL,CO,VH,1.0,A,20.3,18.8,13.1,42.8,20.1,39.3,24.2
499,498,481,University of Eastern Finland,Finland,M,CO,VH,3.0,A,14.5,10.5,43.8,33.5,27.9,9.1,24.2

In [27]:
cleaned_na.tail(10)

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
488,489,498,Amirkabir University of Technology,Iran,M,FO,VH,4.0,A,4.7,15,7.4,94.9,7,2.6,24.4
489,489,511-520,Universidad de Santiago de Chile (USACH),Chile,L,FC,MD,5.0,A,35.6,60.2,13.1,4.7,8.2,2.2,24.4
492,491,480,M.O.Auezov South Kazakhstan State University,Kazakhstan,L,CO,MD,4.0,A,7,6.1,94.1,1,17.1,17.7,24.3
493,491,531-540,Universidad de Montevideo,Uruguay,S,FC,LO,2.0,B,13.4,17.3,79.1,1.3,18.1,3.7,24.3
494,491,453,Université Aix-Marseille,France,XL,FC,VH,1.0,A,33.9,4.9,13.5,25,23.6,26.6,24.3
495,491,439,University of Delaware,United States,L,CO,VH,5.0,A,11,10.2,11.6,67.1,39.3,22.5,24.3
496,491,481,V.N. Karazin Kharkiv National University,Ukraine,L,FC,MD,5.0,A,10.8,11.4,72.2,1.8,1.3,78.4,24.3
497,498,531-540,Czech Technical University In Prague,Czech Republic,L,SP,VH,5.0,A,18.7,39.7,33.9,10.6,18.2,57.5,24.2
498,498,422,Université de Montpellier,France,XL,CO,VH,1.0,A,20.3,18.8,13.1,42.8,20.1,39.3,24.2
499,498,481,University of Eastern Finland,Finland,M,CO,VH,3.0,A,14.5,10.5,43.8,33.5,27.9,9.1,24.2

In [28]:
cleaned_2019 = df_2019.copy()

In [29]:
cleaned_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   2019                          1003 non-null   object
 1   2018                          939 non-null    object
 2   Institution Name              1022 non-null   object
 3   Country                       1021 non-null   object
 4   Classification_SIZE           1021 non-null   object
 5   FOCUS                         1021 non-null   object
 6   RESEARCH INTENSITY            1021 non-null   object
 7   AGE                           1021 non-null   float64
 8   STATUS                        1021 non-null   object
 9   Academic Reputation_SCORE     1021 non-null   object
 10  Employer Reputation_SCORE     1019 non-null   object
 11  Faculty Student_SCORE         1021 non-null   object
 12  Citations per Faculty_SCORE   1021 non-null   object
 13  International Faculty_SCORE   964 non-null    object
 14  International Students_SCORE  1008 non-null   object
 15  Overall Score                 1021 non-null   object
dtypes: float64(1), object(15)
memory usage: 128.2+ KB

In [30]:
cleaned_2019 = cleaned_2019.dropna()

In [31]:
cleaned_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 895 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   2019                          895 non-null    object
 1   2018                          895 non-null    object
 2   Institution Name              895 non-null    object
 3   Country                       895 non-null    object
 4   Classification_SIZE           895 non-null    object
 5   FOCUS                         895 non-null    object
 6   RESEARCH INTENSITY            895 non-null    object
 7   AGE                           895 non-null    float64
 8   STATUS                        895 non-null    object
 9   Academic Reputation_SCORE     895 non-null    object
 10  Employer Reputation_SCORE     895 non-null    object
 11  Faculty Student_SCORE         895 non-null    object
 12  Citations per Faculty_SCORE   895 non-null    object
 13  International Faculty_SCORE   895 non-null    object
 14  International Students_SCORE  895 non-null    object
 15  Overall Score                 895 non-null    object
dtypes: float64(1), object(15)
memory usage: 118.9+ KB

In [32]:
for c in cleaned_2019.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_2019[c].astype('str')))
    else:
        continue

-------
unique2019
['  100=' '  104=' '  122=' '  126=' '  128=' '  132=' '  141=' '  149='
 '  151=' '  154=' '  156=' '  160=' '  163=' '  172=' '  175=' '  180='
 '  184=' '  186=' '  193=' '  195=' '  200=' '  204=' '  208=' '  212='
 '  214=' '  218=' '  221=' '  223=' '  231=' '  237=' '  239=' '  242='
 '  244=' '  250=' '  253=' '  257=' '  260=' '  264=' '  269=' '  272='
 '  275=' '  277=' '  279=' '  283=' '  285=' '  289=' '  292=' '  295='
 '  299=' '  302=' '  306=' '  310=' '  313=' '  315=' '  317=' '  319='
 '  321=' '  323=' '  326=' '  329=' '  332=' '  336=' '  338=' '  343='
 '  345=' '  352=' '  355=' '  359=' '  363=' '  367=' '  369=' '  373='
 '  376=' '  381=' '  384=' '  387=' '  391=' '  394=' '  397=' '  402='
 '  405=' '  407=' '  412=' '  415=' '  417=' '  420=' '  422=' '  426='
 '  429=' '  432=' '  435=' '  439=' '  443=' '  446=' '  448=' '  450='
 '  453=' '  456=' '  461=' '  464=' '  470=' '  472=' '  476=' '  478='
 '  481=' '  489=' '  491=' '  495=' '  498=' '  500=' '  59=' '  69='
 '  75=' '  79=' '  801-1000' '  83=' '  87=' '  93=' '1' '10' '106' '107'
 '108' '109' '11' '110' '111' '112' '113' '114' '115' '116' '117' '118'
 '119' '12' '120' '121' '124' '125' '13' '130' '131' '134' '135' '136'
 '137' '138' '139' '14' '140' '144' '145' '146' '147' '148' '15' '153'
 '158' '159' '16' '162' '165' '166' '167' '168' '169' '17' '170' '171'
 '178' '179' '18' '183' '188' '189' '19' '190' '191' '192' '197' '198'
 '199' '2' '20' '202' '203' '206' '207' '21' '211' '217' '22' '220' '226'
 '227' '228' '229' '23' '230' '234' '235' '236' '24' '246' '247' '248'
 '249' '25' '255' '256' '259' '26' '263' '268' '27' '271' '274' '28' '287'
 '288' '29' '291' '298' '3' '30' '305' '308' '309' '31' '312' '32' '325'
 '328' '33' '34' '348' '349' '35' '350' '351' '354' '36' '361' '362' '366'
 '37' '372' '375' '38' '380' '39' '396' '4' '40' '404' '41' '411' '419'
 '42' '43' '431' '44' '45' '46' '460' '47' '475' '48' '480' '487' '488'
 '49' '494' '5' '501-510' '51' '511-520' '52' '521-530' '53' '531-540'
 '54' '541-550' '55' '551-560' '56' '561-570' '57' '571-580' '58'
 '581-590' '591-600' '6' '601-650' '61' '62' '63' '64' '65' '651-700' '66'
 '67' '68' '7' '701-750' '71' '72' '73' '74' '751-800' '77' '78' '8' '81'
 '82' '85' '86' '89' '9' '90' '91' '92' '95' '96' '97' '98' '99']
-------
unique2018
['  102=' '  109=' '  114=' '  116=' '  122=' '  125=' '  135=' '  137='
 '  142=' '  147=' '  149=' '  158=' '  161=' '  164=' '  173=' '  179='
 '  182=' '  188=' '  192=' '  195=' '  205=' '  207=' '  210=' '  21='
 '  224=' '  230=' '  236=' '  23=' '  240=' '  243=' '  245=' '  247='
 '  250=' '  254=' '  256=' '  259=' '  264=' '  267=' '  270=' '  272='
 '  277=' '  279=' '  283=' '  287=' '  289=' '  28=' '  293=' '  296='
 '  299=' '  301=' '  305=' '  308=' '  314=' '  316=' '  319=' '  323='
 '  325=' '  331=' '  334=' '  339=' '  341=' '  344=' '  346=' '  347='
 '  349=' '  352=' '  355=' '  357=' '  361=' '  364=' '  367=' '  36='
 '  373=' '  382=' '  386=' '  388=' '  38=' '  391=' '  395=' '  398='
 '  41=' '  47=' '  71=' '  73=' '  76=' '  78=' '  801-1000' '  82='
 '  84=' '  90=' '  93=' '  95=' '  98=' '1' '10' '100' '101' '104' '105'
 '106' '107' '108' '11' '112' '113' '118' '119' '12' '120' '121' '124'
 '127' '128' '129' '13' '130' '132' '133' '134' '14' '140' '141' '144'
 '145' '146' '15' '151' '152' '153' '154' '155' '156' '157' '16' '160'
 '163' '167' '168' '169' '17' '170' '171' '172' '176' '177' '178' '18'
 '181' '186' '187' '19' '190' '191' '199' '2' '20' '200' '201' '202' '203'
 '204' '209' '212' '213' '214' '215' '216' '217' '218' '219' '220' '221'
 '222' '223' '227' '228' '229' '232' '233' '234' '235' '238' '239' '242'
 '249' '25' '252' '253' '26' '262' '263' '269' '27' '274' '275' '276'
 '281' '282' '286' '291' '292' '3' '30' '303' '304' '307' '31' '311' '312'
 '313' '318' '32' '322' '329' '33' '330' '336' '337' '338' '34' '343' '35'
 '351' '360' '372' '378' '379' '380' '381' '384' '385' '390' '394' '397'
 '4' '40' '401-410' '411-420' '421-430' '431-440' '44' '441-450' '45'
 '451-460' '46' '461-470' '471-480' '481-490' '49' '491-500' '5' '50'
 '501-550' '51' '52' '53' '54' '55' '551-600' '56' '57' '58' '59' '6' '60'
 '601-650' '61' '62' '63' '64' '65' '651-700' '66' '67' '68' '69' '7' '70'
 '701-750' '75' '751-800' '8' '80' '81' '86' '87' '88' '89' '9' '92' '97']
-------
uniqueInstitution Name
['AALBORG UNIVERSITY' 'AALTO UNIVERSITY' 'AARHUS UNIVERSITY'
 'ABERYSTWYTH UNIVERSITY' 'ABO AKADEMI UNIVERSITY' 'ABU DHABI UNIVERSITY'
 'ADAM MICKIEWICZ UNIVERSITY' 'AIN SHAMS UNIVERSITY'
 'AIRLANGGA UNIVERSITY' 'AJOU UNIVERSITY'
 'AL-FARABI KAZAKH NATIONAL UNIVERSITY'
 'AL-IMAM MOHAMED IBN SAUD ISLAMIC UNIVERSITY' 'ALEXANDRIA UNIVERSITY'
 'ALEXANDRU IOAN CUZA UNIVERSITY' 'ALPEN-ADRIA-UNIVERSITÄT KLAGENFURT'
 'AMERICAN UNIVERSITY' 'AMERICAN UNIVERSITY IN CAIRO'
 'AMERICAN UNIVERSITY IN DUBAI' 'AMERICAN UNIVERSITY OF BEIRUT (AUB)'
 'AMERICAN UNIVERSITY OF SHARJAH' 'AMIRKABIR UNIVERSITY OF TECHNOLOGY'
 'ANKARA ÜNIVERSITESI' 'AOYAMA GAKUIN UNIVERSITY'
 'ARISTOTLE UNIVERSITY OF THESSALONIKI' 'ARIZONA STATE UNIVERSITY'
 'ASTON UNIVERSITY' 'ATENEO DE MANILA UNIVERSITY'
 'ATHENS UNIVERSITY OF ECONOMICS AND BUSINESS' 'AUBURN UNIVERSITY'
 'AUCKLAND UNIVERSITY OF TECHNOLOGY' 'AUSTRALIAN CATHOLIC UNIVERSITY'
 'AUSTRALIAN NATIONAL UNIVERSITY (ANU)' 'BABES-BOLYAI UNIVERSITY'
 'BAKU STATE UNIVERSITY' 'BANARAS HINDU UNIVERSITY'
 'BANDUNG INSTITUTE OF TECHNOLOGY (ITB)' 'BANGOR UNIVERSITY'
 'BAR-ILAN UNIVERSITY' 'BAUMAN MOSCOW STATE TECHNICAL UNIVERSITY'
 'BAYLOR UNIVERSITY' 'BEIHANG UNIVERSITY'
 'BEIJING FOREIGN STUDIES UNIVERSITY' 'BEIJING INSTITUTE OF TECHNOLOGY'
 'BEIJING JIAOTONG UNIVERSITY' 'BEIJING NORMAL UNIVERSITY'
 'BEIJING UNIVERSITY OF TECHNOLOGY' 'BELARUS STATE UNIVERSITY'
 'BELARUSIAN NATIONAL TECHNICAL UNIVERSITY'
 'BEN GURION UNIVERSITY OF THE NEGEV'
 'BENEMÉRITA UNIVERSIDAD AUTÓNOMA DE PUEBLA' 'BILKENT UNIVERSITY'
 'BINGHAMTON UNIVERSITY SUNY' 'BIRKBECK COLLEGE, UNIVERSITY OF LONDON'
 'BIRLA INSTITUTE OF TECHNOLOGY AND SCIENCE' 'BIRZEIT UNIVERSITY'
 'BO?AZIÇI ÜNIVERSITESI' 'BOGOR AGRICULTURAL UNIVERSITY' 'BOND UNIVERSITY'
 'BOSTON COLLEGE' 'BOSTON UNIVERSITY' 'BOURNEMOUTH UNIVERSITY'
 'BRANDEIS UNIVERSITY' 'BRIGHAM YOUNG UNIVERSITY'
 'BRNO UNIVERSITY OF TECHNOLOGY' 'BROWN UNIVERSITY' 'BRUNEL UNIVERSITY'
 'BUDAPEST UNIVERSITY OF TECHNOLOGY AND ECONOMICS' 'CAIRO UNIVERSITY'
 'CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH)' 'CARDIFF UNIVERSITY'
 'CARLETON UNIVERSITY' 'CARNEGIE MELLON UNIVERSITY'
 'CASE WESTERN RESERVE UNIVERSITY' 'CENTRAL QUEENSLAND UNIVERSITY'
 'CENTRAL SOUTH UNIVERSITY' 'CENTRALESUPÉLEC'
 'CHALMERS UNIVERSITY OF TECHNOLOGY' 'CHANG GUNG UNIVERSITY'
 'CHARLES DARWIN UNIVERSITY' 'CHARLES STURT UNIVERSITY'
 'CHARLES UNIVERSITY' 'CHIANG MAI UNIVERSITY' 'CHIBA UNIVERSITY'
 'CHINA AGRICULTURAL UNIVERSITY' 'CHONBUK NATIONAL UNIVERSITY'
 'CHONGQING UNIVERSITY' 'CHONNAM NATIONAL UNIVERSITY'
 'CHRISTIAN-ALBRECHTS-UNIVERSITÄT ZU KIEL' 'CHULALONGKORN UNIVERSITY'
 'CHUNGNAM NATIONAL UNIVERSITY' 'CITY UNIVERSITY LONDON'
 'CITY UNIVERSITY OF HONG KONG' 'CITY UNIVERSITY OF NEW YORK'
 'CLARK UNIVERSITY' 'CLARKSON UNIVERSITY' 'CLEMSON UNIVERSITY'
 'COLLEGE OF WILLIAM & MARY' 'COLORADO STATE UNIVERSITY'
 'COLUMBIA UNIVERSITY' 'CONCORDIA UNIVERSITY' 'CORNELL UNIVERSITY'
 'COVENTRY UNIVERSITY' 'CURTIN UNIVERSITY'
 'CZECH TECHNICAL UNIVERSITY IN PRAGUE' 'DALHOUSIE UNIVERSITY'
 'DALIAN UNIVERSITY OF TECHNOLOGY' 'DANKOOK UNIVERSITY'
 'DARTMOUTH COLLEGE' 'DE LA SALLE UNIVERSITY' 'DEAKIN UNIVERSITY'
 'DELFT UNIVERSITY OF TECHNOLOGY' 'DIPONEGORO UNIVERSITY'
 'DONGGUK UNIVERSITY' 'DOSHISHA UNIVERSITY' 'DREXEL UNIVERSITY'
 'DUBLIN CITY UNIVERSITY (DCU)' 'DUBLIN INSTITUTE OF TECHNOLOGY (DIT)'
 'DUKE UNIVERSITY' 'DURHAM UNIVERSITY'
 'E.A.BUKETOV KARAGANDA STATE UNIVERSITY' 'EAST CHINA NORMAL UNIVERSITY'
 'EAST CHINA UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'EBERHARD KARLS UNIVERSITÄT TÜBINGEN' 'ECOLE DES PONTS PARISTECH'
 'ECOLE NORMALE SUPÉRIEURE DE CACHAN' 'ECOLE POLYTECHNIQUE'
 'EDINBURGH NAPIER UNIVERSITY' 'EDITH COWAN UNIVERSITY (ECU)'
 'EINDHOVEN UNIVERSITY OF TECHNOLOGY' 'EMORY UNIVERSITY'
 'EOTVOS LORAND UNIVERSITY' 'ERASMUS UNIVERSITY ROTTERDAM'
 'ETH ZURICH (SWISS FEDERAL INSTITUTE OF TECHNOLOGY)'
 'EWHA WOMANS UNIVERSITY' 'FAR EASTERN FEDERAL UNIVERSITY'
 'FENG CHIA UNIVERSITY' 'FLINDERS UNIVERSITY'
 'FLORIDA INTERNATIONAL UNIVERSITY' 'FLORIDA STATE UNIVERSITY'
 'FORDHAM UNIVERSITY' 'FREIE UNIVERSITÄT BERLIN'
 'FU JEN CATHOLIC UNIVERSITY' 'FUDAN UNIVERSITY' 'GAZI ÜNIVERSITESI'
 'GEORG-AUGUST-UNIVERSITÄT GÖTTINGEN' 'GEORGE MASON UNIVERSITY'
 'GEORGE WASHINGTON UNIVERSITY' 'GEORGETOWN UNIVERSITY'
 'GEORGIA INSTITUTE OF TECHNOLOGY (GEORGIA TECH)'
 'GEORGIA STATE UNIVERSITY' 'GIFU UNIVERSITY'
 'GOLDSMITHS, UNIVERSITY OF LONDON' 'GRIFFITH UNIVERSITY'
 'GUNMA UNIVERSITY' 'GWANGJU INSTITUTE OF SCIENCE AND TECHNOLOGY (GIST)'
 'HACETTEPE UNIVERSITY' 'HALLYM UNIVERSITY' 'HANYANG UNIVERSITY'
 'HARBIN INSTITUTE OF TECHNOLOGY' 'HARVARD UNIVERSITY'
 'HEBREW UNIVERSITY OF JERUSALEM' 'HERIOT-WATT UNIVERSITY'
 'HIROSHIMA UNIVERSITY' 'HITOTSUBASHI UNIVERSITY' 'HOKKAIDO UNIVERSITY'
 'HONG KONG BAPTIST UNIVERSITY (HKBU)' 'HOWARD UNIVERSITY'
 'HUAZHONG UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'HUFS \x96 HANKUK (KOREA) UNIVERSITY OF FOREIGN STUDIES'
 'HUMBOLDT-UNIVERSITÄT ZU BERLIN' 'HUNAN UNIVERSITY'
 'ILLINOIS INSTITUTE OF TECHNOLOGY' 'IMPERIAL COLLEGE LONDON'
 'INDIAN INSTITUTE OF SCIENCE (IISC) BANGALORE'
 'INDIAN INSTITUTE OF TECHNOLOGY BOMBAY (IITB)'
 'INDIAN INSTITUTE OF TECHNOLOGY DELHI (IITD)'
 'INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI (IITG)'
 'INDIAN INSTITUTE OF TECHNOLOGY KANPUR (IITK)'
 'INDIAN INSTITUTE OF TECHNOLOGY KHARAGPUR (IITKGP)'
 'INDIAN INSTITUTE OF TECHNOLOGY MADRAS (IITM)'
 'INDIANA UNIVERSITY BLOOMINGTON'
 'INDIANA UNIVERSITY-PURDUE UNIVERSITY INDIANAPOLIS' 'INHA UNIVERSITY'
 'INSTITUT NATIONAL DES SCIENCES APPLIQUÉES DE LYON (INSA)'
 'INSTITUTO POLITÉCNICO NACIONAL (IPN)'
 'INSTITUTO TECNOLÓGICO AUTONOMO DE MÉXICO (ITAM)'
 'INSTITUTO TECNOLÓGICO DE BUENOS AIRES (ITBA)'
 'INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA (IIUM)'
 'IOWA STATE UNIVERSITY' 'ISTANBUL TECHNICAL UNIVERSITY'
 'ISTANBUL UNIVERSITY' 'ITMO UNIVERSITY' 'JAGIELLONIAN UNIVERSITY'
 'JAMES COOK UNIVERSITY (JCU)' 'JILIN UNIVERSITY'
 'JOHANNES GUTENBERG UNIVERSITÄT MAINZ'
 'JOHANNES KEPLER UNIVERSITÄT LINZ (JKU)' 'JOHNS HOPKINS UNIVERSITY'
 'JORDAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'JULIUS-MAXIMILIANS-UNIVERSITÄT WÜRZBURG'
 'JUSTUS-LIEBIG-UNIVERSITÄT GIEßEN' 'KAGOSHIMA UNIVERSITY'
 'KAIST - KOREA ADVANCED INSTITUTE OF SCIENCE AND TECHNOLOGY'
 'KANAZAWA UNIVERSITY' 'KANSAS STATE UNIVERSITY'
 'KARL-FRANZENS-UNIVERSITÄT GRAZ' 'KASETSART UNIVERSITY'
 'KATHOLIEKE UNIVERSITEIT LEUVEN' 'KAUNAS UNIVERSITY OF TECHNOLOGY'
 'KAZAKH ABLAI KHAN UNIVERSITY OF INTERNATIONAL RELATIONS AND WORLD LANGUAGES'
 'KAZAKH NATIONAL PEDAGOGICAL UNIVERSITY ABAI'
 'KAZAKH NATIONAL TECHNICAL UNIVERSITY AFTER K.I.SATPAYEV'
 'KAZAKH-BRITISH TECHNICAL UNIVERSITY' 'KAZAN FEDERAL UNIVERSITY'
 'KEELE UNIVERSITY' 'KEIO UNIVERSITY' 'KENT STATE UNIVERSITY'
 'KHALIFA UNIVERSITY' 'KHON KAEN UNIVERSITY'
 'KING ABDUL AZIZ UNIVERSITY (KAU)'
 'KING FAHD UNIVERSITY OF PETROLEUM & MINERALS (KFUPM)'
 'KING FAISAL UNIVERSITY' 'KING KHALID UNIVERSITY'
 "KING MONGKUT'S UNIVERSITY OF TECHNOLOGY THONBURI"
 'KING SAUD UNIVERSITY (KSU)' "KING'S COLLEGE LONDON (KCL)"
 'KINGSTON UNIVERSITY, LONDON' 'KIT, KARLSRUHER INSTITUT FÜR TECHNOLOGIE'
 'KOBE UNIVERSITY' 'KONKUK UNIVERSITY' 'KOREA UNIVERSITY' 'KOÇ UNIVERSITY'
 'KTH, ROYAL INSTITUTE OF TECHNOLOGY' 'KUMAMOTO UNIVERSITY'
 'KUWAIT UNIVERSITY' 'KYOTO UNIVERSITY' 'KYUNG HEE UNIVERSITY'
 'KYUNGPOOK NATIONAL UNIVERSITY' 'KYUSHU INSTITUTE OF TECHNOLOGY'
 'KYUSHU UNIVERSITY' 'L.N. GUMILYOV EURASIAN NATIONAL UNIVERSITY'
 'LA TROBE UNIVERSITY' 'LAHORE UNIVERSITY OF MANAGEMENT SCIENCES (LUMS)'
 'LANCASTER UNIVERSITY' 'LANZHOU UNIVERSITY'
 'LAPPEENRANTA UNIVERSITY OF TECHNOLOGY' 'LAVAL UNIVERSITY'
 'LEBANESE AMERICAN UNIVERSITY' 'LEHIGH UNIVERSITY'
 'LEIBNIZ UNIVERSITÄT HANNOVER' 'LEIDEN UNIVERSITY' 'LINCOLN UNIVERSITY'
 'LINGNAN UNIVERSITY (HONG KONG)' 'LINKÖPING UNIVERSITY'
 'LOBACHEVSKY STATE UNIVERSITY OF NIZHNI NOVGOROD'
 'LOMONOSOV MOSCOW STATE UNIVERSITY' 'LONDON METROPOLITAN UNIVERSITY'
 'LONDON SCHOOL OF ECONOMICS AND POLITICAL SCIENCE (LSE)'
 'LONDON SOUTH BANK UNIVERSITY' 'LOUGHBOROUGH UNIVERSITY'
 'LOUISIANA STATE UNIVERSITY' 'LOYOLA UNIVERSITY CHICAGO'
 'LUDWIG-MAXIMILIANS-UNIVERSITÄT MÜNCHEN' 'LUND UNIVERSITY'
 'M.O.AUEZOV SOUTH KAZAKHSTAN STATE UNIVERSITY' 'MAASTRICHT UNIVERSITY'
 'MACQUARIE UNIVERSITY' 'MAHIDOL UNIVERSITY'
 'MANCHESTER METROPOLITAN UNIVERSITY' 'MANIPAL UNIVERSITY'
 'MARQUETTE UNIVERSITY' 'MARTIN-LUTHER-UNIVERSITÄT HALLE-WITTENBERG'
 'MASARYK UNIVERSITY' 'MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT)'
 'MASSEY UNIVERSITY' 'MAYNOOTH UNIVERSITY' 'MCGILL UNIVERSITY'
 'MCMASTER UNIVERSITY' 'MEIJI UNIVERSITY'
 'MEMORIAL UNIVERSITY OF NEWFOUNDLAND' 'MIAMI UNIVERSITY'
 'MICHIGAN STATE UNIVERSITY' 'MICHIGAN TECHNOLOGICAL UNIVERSITY'
 'MIDDLE EAST TECHNICAL UNIVERSITY' 'MIDDLESEX UNIVERSITY'
 'MISSOURI UNIVERSITY OF SCIENCE AND TECHNOLOGY' 'MONASH UNIVERSITY'
 'MOSCOW INSTITUTE OF PHYSICS AND TECHNOLOGY STATE UNIVERSITY'
 'MOSCOW STATE INSTITUTE OF INTERNATIONAL RELATIONS \x96 MGIMO UNIVERSITY'
 'MURDOCH UNIVERSITY' 'NAGASAKI UNIVERSITY'
 'NAGOYA INSTITUTE OF TECHNOLOGY (NIT)' 'NAGOYA UNIVERSITY'
 'NANJING UNIVERSITY' 'NANKAI UNIVERSITY'
 'NANYANG TECHNOLOGICAL UNIVERSITY (NTU)'
 'NATIONAL AND KAPODISTRIAN UNIVERSITY OF ATHENS'
 'NATIONAL CENTRAL UNIVERSITY' 'NATIONAL CHENG KUNG UNIVERSITY'
 'NATIONAL CHENGCHI UNIVERSITY' 'NATIONAL CHIAO TUNG UNIVERSITY'
 'NATIONAL CHUNG HSING UNIVERSITY'
 'NATIONAL RESEARCH NUCLEAR UNIVERSITY "MEPHI" (MOSCOW ENGINEERING PHYSICS INSTITUTE)'
 'NATIONAL RESEARCH SARATOV STATE UNIVERSITY'
 'NATIONAL RESEARCH UNIVERSITY - HIGHER SCHOOL OF ECONOMICS (HSE)'
 'NATIONAL SUN YAT-SEN UNIVERSITY'
 'NATIONAL TAIPEI UNIVERSITY OF TECHNOLOGY'
 'NATIONAL TAIWAN NORMAL UNIVERSITY' 'NATIONAL TAIWAN UNIVERSITY (NTU)'
 'NATIONAL TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'NATIONAL TECHNICAL UNIVERSITY "KHARKIV POLYTECHNIC INSTITUTE"'
 'NATIONAL TECHNICAL UNIVERSITY OF UKRAINE "KYIV POLYTECHNIC INSTITUTE"'
 'NATIONAL TSING HUA UNIVERSITY'
 'NATIONAL UNIVERSITY OF IRELAND, GALWAY (NUIG)'
 'NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY "MISIS"'
 'NATIONAL UNIVERSITY OF SCIENCES AND TECHNOLOGY (NUST) ISLAMABAD'
 'NATIONAL UNIVERSITY OF SINGAPORE (NUS)' 'NATIONAL YANG MING UNIVERSITY'
 'NEW JERSEY INSTITUTE OF TECHNOLOGY (NJIT)' 'NEW SCHOOL UNIVERSITY'
 'NEW YORK UNIVERSITY (NYU)' 'NEWCASTLE UNIVERSITY'
 'NICOLAUS COPERNICUS UNIVERSITY' 'NIIGATA UNIVERSITY'
 'NORTH CAROLINA STATE UNIVERSITY' 'NORTH-WEST UNIVERSITY'
 'NORTHEASTERN UNIVERSITY' 'NORTHUMBRIA UNIVERSITY AT NEWCASTLE'
 'NORTHWESTERN UNIVERSITY'
 'NORWEGIAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'NOTTINGHAM TRENT UNIVERSITY' 'NOVOSIBIRSK STATE TECHNICAL UNIVERSITY'
 'NOVOSIBIRSK STATE UNIVERSITY' 'OCHANOMIZU UNIVERSITY'
 'OHIO STATE UNIVERSITY' 'OHIO UNIVERSITY' 'OKAYAMA UNIVERSITY'
 'OKLAHOMA STATE UNIVERSITY' 'OREGON STATE UNIVERSITY'
 'OSAKA CITY UNIVERSITY' 'OSAKA PREFECTURE UNIVERSITY' 'OSAKA UNIVERSITY'
 'OXFORD BROOKES UNIVERSITY' 'PALACKÝ UNIVERSITY IN OLOMOUC'
 'PEKING UNIVERSITY' 'PENNSYLVANIA STATE UNIVERSITY'
 'PETER THE GREAT ST.PETERSBURG POLYTECHNIC UNIVERSITY'
 'PHILIPPS-UNIVERSITÄT MARBURG'
 'PLEKHANOV RUSSIAN UNIVERSITY OF ECONOMICS'
 'POHANG UNIVERSITY OF SCIENCE AND TECHNOLOGY (POSTECH)'
 'POLITECNICO DI MILANO' 'POLITECNICO DI TORINO'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DE CHILE'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DE VALPARAÍSO'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DEL ECUADOR'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ'
 'PONTIFICIA UNIVERSIDAD JAVERIANA'
 'PONTIFICIA UNIVERSIDADE CATÓLICA DE SÃO PAULO (PUC-SP)'
 'PONTIFÍCIA UNIVERSIDADE CATÓLICA DO RIO DE JANEIRO - PUC - RIO'
 'PONTIFÍCIA UNIVERSIDADE CATÓLICA DO RIO GRANDE DO SUL'
 'PRINCE OF SONGKLA UNIVERSITY' 'PRINCETON UNIVERSITY' 'PURDUE UNIVERSITY'
 'PUSAN NATIONAL UNIVERSITY' 'QATAR UNIVERSITY' 'QUAID-I-AZAM UNIVERSITY'
 'QUEEN MARY UNIVERSITY OF LONDON (QMUL)' "QUEEN'S UNIVERSITY"
 "QUEEN'S UNIVERSITY OF BELFAST"
 'QUEENSLAND UNIVERSITY OF TECHNOLOGY (QUT)' 'RADBOUD UNIVERSITY NIJMEGEN'
 'RENMIN (PEOPLE\x92S) UNIVERSITY OF CHINA'
 'RENSSELAER POLYTECHNIC INSTITUTE'
 'RHEINISCH-WESTFÄLISCHE TECHNISCHE HOCHSCHULE AACHEN'
 'RHEINISCHE FRIEDRICH-WILHELMS-UNIVERSITÄT BONN' 'RICE UNIVERSITY'
 'RIGA TECHNICAL UNIVERSITY' 'RITSUMEIKAN UNIVERSITY' 'RMIT UNIVERSITY'
 'ROYAL HOLLOWAY UNIVERSITY OF LONDON' 'RUDN UNIVERSITY'
 'RUHR-UNIVERSITÄT BOCHUM' 'RUPRECHT-KARLS-UNIVERSITÄT HEIDELBERG'
 'RUTGERS - THE STATE UNIVERSITY OF NEW JERSEY, NEW BRUNSWICK'
 'RUTGERS - THE STATE UNIVERSITY OF NEW JERSEY, NEWARK'
 'SABANCI UNIVERSITY' 'SAINT-PETERSBURG STATE UNIVERSITY'
 'SAITAMA UNIVERSITY'
 'SAMARA NATIONAL RESEARCH UNIVERSITY (SAMARA UNIVERSITY)'
 'SAN DIEGO STATE UNIVERSITY' 'SAPIENZA - UNIVERSITÀ DI ROMA'
 'SCIENCES PO PARIS' 'SCUOLA NORMALE SUPERIORE DI PISA'
 "SCUOLA SUPERIORE SANT'ANNA PISA" 'SEJONG UNIVERSITY'
 'SEOUL NATIONAL UNIVERSITY (SNU)'
 'SEOUL NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'SEPULUH NOPEMBER INSTITUTE OF TECHNOLOGY'
 'SHAHID BEHESHTI UNIVERSITY TEHRAN' 'SHANDONG UNIVERSITY'
 'SHANGHAI INTERNATIONAL STUDIES UNIVERSITY'
 'SHANGHAI JIAO TONG UNIVERSITY' 'SHANGHAI UNIVERSITY'
 'SHARIF UNIVERSITY OF TECHNOLOGY' 'SHINSHU UNIVERSITY'
 'SICHUAN UNIVERSITY' 'SIMON FRASER UNIVERSITY'
 'SINGAPORE MANAGEMENT UNIVERSITY' 'SMITH COLLEGE'
 'SOAS - SCHOOL OF ORIENTAL AND AFRICAN STUDIES, UNIVERSITY OF LONDON'
 'SOFIA UNIVERSITY "ST. KLIMENT OHRIDSKI"' 'SOGANG UNIVERSITY'
 'SOPHIA UNIVERSITY' 'SOUTH CHINA UNIVERSITY OF TECHNOLOGY'
 'SOUTHEAST UNIVERSITY' 'SOUTHERN CROSS UNIVERSITY'
 'SOUTHERN FEDERAL UNIVERSITY' 'SOUTHERN METHODIST UNIVERSITY'
 'STANFORD UNIVERSITY' 'STELLENBOSCH UNIVERSITY'
 'STEVENS INSTITUTE OF TECHNOLOGY' 'STOCKHOLM UNIVERSITY'
 'STONY BROOK UNIVERSITY' 'SULTAN QABOOS UNIVERSITY'
 'SUMY STATE UNIVERSITY' 'SUN YAT-SEN UNIVERSITY'
 'SUNGKYUNKWAN UNIVERSITY' 'SWANSEA UNIVERSITY'
 'SWINBURNE UNIVERSITY OF TECHNOLOGY' 'SYRACUSE UNIVERSITY'
 'TAIPEI MEDICAL UNIVERSITY' 'TALLINN UNIVERSITY OF TECHNOLOGY'
 'TAMPERE UNIVERSITY OF TECHNOLOGY'
 'TARAS SHEVCHENKO NATIONAL UNIVERSITY OF KYIV'
 'TECHNICAL UNIVERSITY OF DENMARK'
 'TECHNION - ISRAEL INSTITUTE OF TECHNOLOGY'
 'TECHNISCHE UNIVERSITÄT BERLIN' 'TECHNISCHE UNIVERSITÄT DARMSTADT'
 'TECHNISCHE UNIVERSITÄT DORTMUND' 'TECHNISCHE UNIVERSITÄT DRESDEN'
 'TECHNISCHE UNIVERSITÄT GRAZ' 'TECHNISCHE UNIVERSITÄT MÜNCHEN'
 'TECHNISCHE UNIVERSITÄT WIEN' 'TECNOLÓGICO DE MONTERREY (ITESM)'
 'TEL AVIV UNIVERSITY' 'TEMPLE UNIVERSITY' 'TEXAS A&M UNIVERSITY'
 'TEXAS TECH UNIVERSITY' 'THAMMASAT UNIVERSITY'
 'THE CATHOLIC UNIVERSITY OF KOREA'
 'THE CHINESE UNIVERSITY OF HONG KONG (CUHK)'
 'THE HONG KONG POLYTECHNIC UNIVERSITY'
 'THE HONG KONG UNIVERSITY OF SCIENCE AND TECHNOLOGY (HKUST)'
 'THE ROBERT GORDON UNIVERSITY' 'THE UNIVERSITY OF ADELAIDE'
 'THE UNIVERSITY OF AUCKLAND' 'THE UNIVERSITY OF GEORGIA'
 'THE UNIVERSITY OF MANCHESTER' 'THE UNIVERSITY OF MELBOURNE'
 'THE UNIVERSITY OF NEW SOUTH WALES (UNSW)' 'THE UNIVERSITY OF NOTTINGHAM'
 'THE UNIVERSITY OF QUEENSLAND (UQ)' 'THE UNIVERSITY OF SHEFFIELD'
 'THE UNIVERSITY OF SYDNEY' 'THE UNIVERSITY OF TOKYO'
 'THE UNIVERSITY OF WARWICK' 'THE UNIVERSITY OF WESTERN AUSTRALIA (UWA)'
 'TIANJIN UNIVERSITY' 'TILBURG UNIVERSITY' 'TOHOKU UNIVERSITY'
 'TOKAI UNIVERSITY' 'TOKYO INSTITUTE OF TECHNOLOGY'
 'TOKYO MEDICAL AND DENTAL UNIVERSITY' 'TOKYO METROPOLITAN UNIVERSITY'
 'TOKYO UNIVERSITY OF AGRICULTURE AND TECHNOLOGY'
 'TOKYO UNIVERSITY OF SCIENCE' 'TOMSK POLYTECHNIC UNIVERSITY'
 'TOMSK STATE UNIVERSITY' 'TONGJI UNIVERSITY'
 'TRINITY COLLEGE DUBLIN (TCD)' 'TSINGHUA UNIVERSITY' 'TUFTS UNIVERSITY'
 'TULANE UNIVERSITY' 'UCL (UNIVERSITY COLLEGE LONDON)' 'UMEÅ UNIVERSITY'

In [33]:
cleaned_2019.replace('-', np.nan).isna().sum()

2019                              0
2018                              0
Institution Name                  0
Country                           0
Classification_SIZE               0
FOCUS                             0
RESEARCH INTENSITY                0
AGE                               0
STATUS                            0
Academic Reputation_SCORE       325
Employer Reputation_SCORE       312
Faculty Student_SCORE           248
Citations per Faculty_SCORE     252
International Faculty_SCORE     247
International Students_SCORE    244
Overall Score                     0
dtype: int64

In [34]:
cleaned_2019 = cleaned_2019.replace('-', np.nan).dropna()

In [35]:
cleaned_2019[cleaned_2019['2019'] == '351']

,2019,2018,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
350,351,343,CITY UNIVERSITY LONDON,United Kingdom,L,CO,HI,5.0,A,15.4,24.8,13.4,49.2,95.3,99.8,31

In [36]:
cleaned_2019['2019'] = cleaned_2019['2019'].str.strip().str.replace('=','')
cleaned_2019['2018'] = cleaned_2019['2018'].str.strip().str.replace('=','')

In [37]:
cleaned_2019.tail(10)

,2019,2018,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
492,491,481-490,UNIVERSITÀ CATTOLICA DEL SACRO CUORE,Italy,L,CO,VH,4.0,B,23.2,50.2,17.7,18.9,21.1,24.1,23.9
493,494,461-470,UNIVERSITY OF NEW MEXICO,United States,L,FC,VH,5.0,A,15.6,11.3,10.4,67.3,9.9,6.2,23.8
494,495,501-550,UNIVERSIDAD DE GRANADA,Spain,XL,FC,VH,5.0,A,34.9,14,12.8,21.4,5.1,23.7,23.7
495,495,501-550,UNIVERSITÄT HOHENHEIM,Germany,M,FO,VH,5.0,A,8.2,11.2,7.8,74.4,24.3,31.5,23.7
496,495,501-550,UNIVERSITY OF OKLAHOMA,United States,L,FC,VH,5.0,A,10.7,13,61,17.6,37.1,10.6,23.7
497,498,501-550,AMIRKABIR UNIVERSITY OF TECHNOLOGY,Iran,M,FO,VH,4.0,A,4.9,9.8,8.6,92.7,4.2,2.5,23.6
498,498,551-600,WESTERN SYDNEY UNIVERSITY,Australia,XL,FC,HI,3.0,A,15.9,26.4,9.9,25.9,100,47.8,23.6
499,500,441-450,SINGAPORE MANAGEMENT UNIVERSITY,Singapore,M,SP,HI,2.0,A,12.7,29,13.8,21.2,100,69.4,23.5
501,500,491-500,UNIVERSITÉ SAINT-JOSEPH DE BEYROUTH,Lebanon,M,FC,MD,5.0,B,7.7,26.9,68.1,2.3,62.2,10.2,23.5
502,500,551-600,UNIVERSITY OF SCIENCE AND TECHNOLOGY BEIJING,China,L,CO,VH,4.0,A,18.2,6,18.9,56.3,5,4.6,23.5

In [38]:
cleaned_2018 = df_2018.copy()

In [39]:
cleaned_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   2018                          962 non-null    object
 1   2017                          914 non-null    object
 2   Institution Name              981 non-null    object
 3   Country                       980 non-null    object
 4   Classification_SIZE           980 non-null    object
 5   FOCUS                         969 non-null    object
 6   RESEARCH INTENSITY            968 non-null    object
 7   AGE                           959 non-null    float64
 8   STATUS                        962 non-null    object
 9   Academic Reputation_SCORE     980 non-null    object
 10  Employer Reputation_SCORE     980 non-null    object
 11  Faculty Student_SCORE         980 non-null    object
 12  Citations per Faculty_SCORE   979 non-null    object
 13  International Faculty_SCORE   974 non-null    object
 14  International Students_SCORE  979 non-null    object
 15  Overall Score                 980 non-null    object
dtypes: float64(1), object(15)
memory usage: 123.1+ KB

In [40]:
cleaned_2018 = cleaned_2018.dropna()

In [41]:
cleaned_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 895 entries, 0 to 957
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   2018                          895 non-null    object
 1   2017                          895 non-null    object
 2   Institution Name              895 non-null    object
 3   Country                       895 non-null    object
 4   Classification_SIZE           895 non-null    object
 5   FOCUS                         895 non-null    object
 6   RESEARCH INTENSITY            895 non-null    object
 7   AGE                           895 non-null    float64
 8   STATUS                        895 non-null    object
 9   Academic Reputation_SCORE     895 non-null    object
 10  Employer Reputation_SCORE     895 non-null    object
 11  Faculty Student_SCORE         895 non-null    object
 12  Citations per Faculty_SCORE   895 non-null    object
 13  International Faculty_SCORE   895 non-null    object
 14  International Students_SCORE  895 non-null    object
 15  Overall Score                 895 non-null    object
dtypes: float64(1), object(15)
memory usage: 118.9+ KB

In [42]:
for c in cleaned_2018.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_2018[c].astype('str')))
    else:
        continue

-------
unique2018
['  102=' '  109=' '  114=' '  116=' '  122=' '  125=' '  135=' '  137='
 '  142=' '  147=' '  149=' '  158=' '  161=' '  164=' '  173=' '  179='
 '  182=' '  188=' '  192=' '  195=' '  205=' '  207=' '  210=' '  21='
 '  224=' '  230=' '  236=' '  23=' '  240=' '  243=' '  245=' '  247='
 '  250=' '  254=' '  256=' '  259=' '  264=' '  267=' '  270=' '  272='
 '  277=' '  279=' '  283=' '  287=' '  289=' '  28=' '  293=' '  296='
 '  299=' '  301=' '  305=' '  308=' '  314=' '  316=' '  319=' '  323='
 '  325=' '  331=' '  334=' '  339=' '  341=' '  344=' '  346=' '  349='
 '  352=' '  355=' '  357=' '  361=' '  364=' '  367=' '  36=' '  373='
 '  382=' '  386=' '  388=' '  38=' '  391=' '  395=' '  398=' '  41='
 '  47=' '  71=' '  73=' '  76=' '  78=' '  801-1000' '  82=' '  84='
 '  90=' '  93=' '  95=' '  98=' '1' '10' '100' '101' '104' '105' '106'
 '107' '108' '11' '112' '113' '118' '119' '12' '120' '121' '124' '127'
 '128' '129' '13' '130' '131' '132' '133' '134' '14' '140' '141' '144'
 '145' '146' '15' '151' '152' '153' '154' '155' '156' '157' '16' '160'
 '163' '167' '168' '169' '17' '170' '171' '172' '176' '177' '178' '18'
 '181' '186' '187' '19' '191' '199' '2' '20' '200' '201' '202' '203' '204'
 '209' '212' '213' '214' '215' '216' '217' '218' '219' '220' '221' '222'
 '223' '227' '228' '229' '232' '233' '234' '235' '238' '239' '242' '249'
 '25' '252' '253' '26' '262' '263' '269' '27' '274' '275' '276' '281'
 '282' '286' '291' '292' '3' '30' '303' '304' '307' '31' '311' '312' '313'
 '318' '32' '322' '329' '33' '330' '336' '337' '338' '34' '343' '35' '351'
 '360' '372' '378' '379' '380' '381' '384' '385' '390' '394' '397' '4'
 '40' '401-410' '411-420' '421-430' '43' '431-440' '44' '441-450' '45'
 '451-460' '46' '461-470' '471-480' '481-490' '49' '491-500' '5' '50'
 '501-550' '51' '52' '53' '54' '55' '551-600' '56' '57' '58' '59' '6' '60'
 '601-650' '61' '62' '63' '64' '65' '651-700' '66' '67' '68' '69' '7' '70'
 '701-750' '75' '751-800' '8' '80' '81' '86' '87' '88' '89' '9' '92' '97']
-------
unique2017
['  102=' '  104=' '  106=' '  113=' '  115=' '  121=' '  123=' '  131='
 '  133=' '  141=' '  149=' '  152=' '  160=' '  164=' '  177=' '  183='
 '  185=' '  187=' '  191=' '  196=' '  203=' '  206=' '  210=' '  214='
 '  216=' '  223=' '  228=' '  239=' '  241=' '  245=' '  247=' '  249='
 '  24=' '  252=' '  264=' '  272=' '  278=' '  280=' '  283=' '  288='
 '  291=' '  294=' '  297=' '  299=' '  302=' '  306=' '  308=' '  310='
 '  315=' '  321=' '  325=' '  327=' '  330=' '  338=' '  340=' '  343='
 '  345=' '  347=' '  350=' '  352=' '  356=' '  359=' '  361=' '  363='
 '  366=' '  370=' '  374=' '  377=' '  37=' '  380=' '  382=' '  386='
 '  390=' '  393=' '  395=' '  400=' '  46=' '  49=' '  51=' '  53='
 '  63=' '  68=' '  701+' '  75=' '  85=' '  95=' '  98=' '1' '10' '108'
 '109' '11' '110' '111' '112' '117' '118' '119' '12' '120' '125' '126'
 '127' '128' '129' '13' '130' '135' '136' '137' '138' '139' '14' '140'
 '144' '145' '146' '147' '148' '15' '151' '154' '155' '156' '157' '158'
 '159' '16' '163' '167' '168' '169' '17' '170' '171' '172' '173' '174'
 '175' '176' '18' '181' '182' '189' '19' '190' '193' '195' '198' '199' '2'
 '20' '200' '201' '202' '208' '209' '21' '212' '213' '218' '219' '22'
 '220' '221' '222' '225' '226' '227' '23' '231' '232' '233' '234' '235'
 '236' '237' '238' '243' '244' '251' '257' '258' '259' '26' '260' '261'
 '262' '263' '268' '269' '27' '270' '271' '275' '276' '277' '28' '282'
 '29' '296' '3' '30' '301' '305' '31' '313' '314' '318' '319' '32' '320'
 '323' '324' '329' '33' '335' '336' '337' '34' '342' '35' '354' '355'
 '358' '36' '365' '369' '372' '373' '384' '385' '389' '39' '399' '4' '40'
 '401-410' '41' '411-420' '42' '421-430' '43' '431-440' '44' '441-450'
 '45' '451-460' '461-470' '471-480' '481-490' '491-500' '5' '501-550' '55'
 '551-600' '56' '57' '58' '59' '6' '60' '601-650' '61' '62' '65' '651-700'
 '66' '67' '7' '71' '72' '73' '74' '77' '78' '79' '8' '80' '81' '82' '83'
 '84' '87' '88' '89' '9' '90' '91' '92' '93' '94' '97']
-------
uniqueInstitution Name
['AALBORG UNIVERSITY' 'AALTO UNIVERSITY' 'AARHUS UNIVERSITY'
 'ABERYSTWYTH UNIVERSITY' 'ABO AKADEMI UNIVERSITY' 'ABU DHABI UNIVERSITY'
 'AIN SHAMS UNIVERSITY ' 'AIRLANGGA UNIVERSITY' 'AJOU UNIVERSITY '
 'AL AZHAR UNIVERSITY ' 'AL-FARABI KAZAKH NATIONAL UNIVERSITY'
 'AL-IMAM MOHAMED IBN SAUD ISLAMIC UNIVERSITY' 'ALEXANDRIA UNIVERSITY '
 'ALEXANDRU IOAN CUZA UNIVERSITY' 'ALPEN-ADRIA-UNIVERSITÄT KLAGENFURT '
 'AMERICAN UNIVERSITY' 'AMERICAN UNIVERSITY IN CAIRO'
 'AMERICAN UNIVERSITY IN DUBAI' 'AMERICAN UNIVERSITY OF BEIRUT (AUB)'
 'AMERICAN UNIVERSITY OF SHARJAH' 'AMIRKABIR UNIVERSITY OF TECHNOLOGY'
 'ANKARA ÜNIVERSITESI' 'AOYAMA GAKUIN UNIVERSITY'
 'ARABIAN GULF UNIVERSITY' 'ARISTOTLE UNIVERSITY OF THESSALONIKI'
 'ARIZONA STATE UNIVERSITY' 'ASTON UNIVERSITY'
 'ATENEO DE MANILA UNIVERSITY'
 'ATHENS UNIVERSITY OF ECONOMICS AND BUSINESS' 'AUBURN UNIVERSITY'
 'AUCKLAND UNIVERSITY OF TECHNOLOGY ' 'AUSTRALIAN CATHOLIC UNIVERSITY'
 'AUSTRALIAN NATIONAL UNIVERSITY (ANU)' 'BABES-BOLYAI UNIVERSITY'
 'BAKU STATE UNIVERSITY' 'BANARAS HINDU UNIVERSITY'
 'BANDUNG INSTITUTE OF TECHNOLOGY (ITB)' 'BANGOR UNIVERSITY'
 'BAR-ILAN UNIVERSITY' 'BAUMAN MOSCOW STATE TECHNICAL UNIVERSITY'
 'BAYLOR UNIVERSITY' 'BEIHANG UNIVERSITY'
 'BEIJING INSTITUTE OF TECHNOLOGY' 'BEIJING JIAOTONG UNIVERSITY'
 'BEIJING NORMAL UNIVERSITY ' 'BEIJING UNIVERSITY OF TECHNOLOGY'
 'BELARUS STATE UNIVERSITY' 'BELARUSIAN NATIONAL TECHNICAL UNIVERSITY'
 'BEN GURION UNIVERSITY OF THE NEGEV'
 'BENEMÉRITA UNIVERSIDAD AUTÓNOMA DE PUEBLA' 'BILKENT UNIVERSITY'
 'BINGHAMTON UNIVERSITY SUNY' 'BIRKBECK COLLEGE, UNIVERSITY OF LONDON'
 'BOGAZIÇI ÜNIVERSITESI' 'BOGOR AGRICULTURAL UNIVERSITY' 'BOND UNIVERSITY'
 'BOSTON COLLEGE' 'BOSTON UNIVERSITY' 'BRANDEIS UNIVERSITY'
 'BRIGHAM YOUNG UNIVERSITY' 'BRNO UNIVERSITY OF TECHNOLOGY'
 'BROWN UNIVERSITY' 'BRUNEL UNIVERSITY'
 'BUDAPEST UNIVERSITY OF TECHNOLOGY AND ECONOMICS' 'CAIRO UNIVERSITY'
 'CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH)' 'CARDIFF UNIVERSITY'
 'CARLETON UNIVERSITY' 'CARNEGIE MELLON UNIVERSITY'
 'CASE WESTERN RESERVE UNIVERSITY' 'CENTRAL QUEENSLAND UNIVERSITY '
 'CENTRALESUPÉLEC' 'CHALMERS UNIVERSITY OF TECHNOLOGY'
 'CHANG GUNG UNIVERSITY' 'CHARLES DARWIN UNIVERSITY '
 'CHARLES STURT UNIVERSITY ' 'CHARLES UNIVERSITY' 'CHIANG MAI UNIVERSITY'
 'CHIBA UNIVERSITY' 'CHONBUK NATIONAL UNIVERSITY'
 'CHONNAM NATIONAL UNIVERSITY' 'CHRISTIAN-ALBRECHTS-UNIVERSITÄT ZU KIEL'
 'CHULALONGKORN UNIVERSITY' 'CHUNGNAM NATIONAL UNIVERSITY'
 'CITY UNIVERSITY LONDON' 'CITY UNIVERSITY OF HONG KONG'
 'CITY UNIVERSITY OF NEW YORK' 'CLARK UNIVERSITY' 'CLARKSON UNIVERSITY'
 'CLEMSON UNIVERSITY' 'COLLEGE OF WILLIAM & MARY'
 'COLORADO STATE UNIVERSITY' 'COLUMBIA UNIVERSITY'
 'COMENIUS UNIVERSITY IN BRATISLAVA' 'CONCORDIA UNIVERSITY'
 'CORNELL UNIVERSITY' 'CORVINUS UNIVERSITY OF BUDAPEST'
 'COVENTRY UNIVERSITY' 'CUKUROVA UNIVERSITY' 'CURTIN UNIVERSITY'
 'CZECH TECHNICAL UNIVERSITY IN PRAGUE' 'DALHOUSIE UNIVERSITY'
 'DALIAN UNIVERSITY OF TECHNOLOGY' 'DANKOOK UNIVERSITY '
 'DARTMOUTH COLLEGE' 'DE LA SALLE UNIVERSITY' 'DEAKIN UNIVERSITY'
 'DELFT UNIVERSITY OF TECHNOLOGY' 'DIPONEGORO UNIVERSITY'
 'DONETSK NATIONAL UNIVERSITY' 'DONGGUK UNIVERSITY ' 'DOSHISHA UNIVERSITY'
 'DREXEL UNIVERSITY' 'DUBLIN CITY UNIVERSITY (DCU)'
 'DUBLIN INSTITUTE OF TECHNOLOGY (DIT)' 'DUKE UNIVERSITY'
 'DURHAM UNIVERSITY' 'E.A.BUKETOV KARAGANDA STATE UNIVERSITY '
 'EAST CHINA NORMAL UNIVERSITY'
 'EAST CHINA UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'EBERHARD KARLS UNIVERSITÄT TÜBINGEN' 'ECOLE DES PONTS PARISTECH'
 'ECOLE NORMALE SUPÉRIEURE DE CACHAN' 'ECOLE NORMALE SUPÉRIEURE DE LYON '
 'ECOLE NORMALE SUPÉRIEURE, PARIS (ENS PARIS)' 'ECOLE POLYTECHNIQUE'
 'ECOLE POLYTECHNIQUE FÉDÉRALE DE LAUSANNE (EPFL)'
 'EDITH COWAN UNIVERSITY (ECU)' 'EINDHOVEN UNIVERSITY OF TECHNOLOGY'
 'EMORY UNIVERSITY' 'EOTVOS LORAND UNIVERSITY'
 'ERASMUS UNIVERSITY ROTTERDAM'
 'ETH ZURICH (SWISS FEDERAL INSTITUTE OF TECHNOLOGY)'
 'EWHA WOMANS UNIVERSITY' 'FAR EASTERN FEDERAL UNIVERSITY'
 'FLINDERS UNIVERSITY' 'FLORIDA STATE UNIVERSITY' 'FORDHAM UNIVERSITY'
 'FREIE UNIVERSITÄT BERLIN' 'FU JEN CATHOLIC UNIVERSITY'
 'FUDAN UNIVERSITY' 'GAZI ÜNIVERSITESI'
 'GEORG-AUGUST-UNIVERSITÄT GÖTTINGEN' 'GEORGE MASON UNIVERSITY'
 'GEORGE WASHINGTON UNIVERSITY' 'GEORGETOWN UNIVERSITY'
 'GEORGIA INSTITUTE OF TECHNOLOGY (GEORGIA TECH)'
 'GEORGIA STATE UNIVERSITY' 'GIFU UNIVERSITY'
 'GOLDSMITHS, UNIVERSITY OF LONDON' 'GRIFFITH UNIVERSITY'
 'GUNMA UNIVERSITY' 'GWANGJU INSTITUTE OF SCIENCE AND TECHNOLOGY (GIST)'
 'HACETTEPE UNIVERSITY ' 'HALLYM UNIVERSITY ' 'HANYANG UNIVERSITY'
 'HARBIN INSTITUTE OF TECHNOLOGY' 'HARVARD UNIVERSITY'
 'HEBREW UNIVERSITY OF JERUSALEM' 'HERIOT-WATT UNIVERSITY'
 'HIROSHIMA UNIVERSITY' 'HITOTSUBASHI UNIVERSITY' 'HOKKAIDO UNIVERSITY'
 'HONG KONG BAPTIST UNIVERSITY (HKBU)' 'HOWARD UNIVERSITY'
 'HUAZHONG UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'HUFS \x96 HANKUK (KOREA) UNIVERSITY OF FOREIGN STUDIES'
 'HUMBOLDT-UNIVERSITÄT ZU BERLIN' 'ILLINOIS INSTITUTE OF TECHNOLOGY'
 'IMPERIAL COLLEGE LONDON' 'INDIAN INSTITUTE OF TECHNOLOGY BOMBAY (IITB)'
 'INDIAN INSTITUTE OF TECHNOLOGY DELHI (IITD)'
 'INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI (IITG)'
 'INDIAN INSTITUTE OF TECHNOLOGY KANPUR (IITK)'
 'INDIAN INSTITUTE OF TECHNOLOGY KHARAGPUR (IITKGP)'
 'INDIAN INSTITUTE OF TECHNOLOGY MADRAS (IITM)'
 'INDIAN INSTITUTE OF TECHNOLOGY ROORKEE (IITR)'
 'INDIANA UNIVERSITY BLOOMINGTON' 'INHA UNIVERSITY'
 'INSTITUT NATIONAL DES SCIENCES APPLIQUÉES DE LYON (INSA)'
 'INSTITUTO POLITÉCNICO NACIONAL (IPN)'
 'INSTITUTO TECNOLÓGICO AUTONOMO DE MÉXICO (ITAM)'
 'INSTITUTO TECNOLÓGICO DE BUENOS AIRES (ITBA)'
 'INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA (IIUM)'
 'IOWA STATE UNIVERSITY' 'IRAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'ISTANBUL TECHNICAL UNIVERSITY' 'ISTANBUL UNIVERSITY'
 'JAGIELLONIAN UNIVERSITY' 'JAMES COOK UNIVERSITY (JCU)'
 'JILIN UNIVERSITY' 'JOHANNES GUTENBERG UNIVERSITÄT MAINZ'
 'JOHANNES KEPLER UNIVERSITÄT LINZ (JKU)' 'JOHNS HOPKINS UNIVERSITY'
 'JORDAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'JULIUS-MAXIMILIANS-UNIVERSITÄT WÜRZBURG'
 'JUSTUS-LIEBIG-UNIVERSITÄT GIEßEN' 'KAGOSHIMA UNIVERSITY'
 'KAIST - KOREA ADVANCED INSTITUTE OF SCIENCE AND TECHNOLOGY'
 'KANAZAWA UNIVERSITY' 'KANSAS STATE UNIVERSITY '
 'KARL-FRANZENS-UNIVERSITÄT GRAZ' 'KASETSART UNIVERSITY'
 'KATHOLIEKE UNIVERSITEIT LEUVEN ' 'KAUNAS UNIVERSITY OF TECHNOLOGY'
 'KAZAKH ABLAI KHAN UNIVERSITY OF INTERNATIONAL RELATIONS AND WORLD LANGUAGES'
 'KAZAKH NATIONAL TECHNICAL UNIVERSITY AFTER K.I.SATPAYEV    '
 'KAZAKH-BRITISH TECHNICAL UNIVERSITY' 'KAZAN FEDERAL UNIVERSITY'
 'KEELE UNIVERSITY ' 'KEIO UNIVERSITY' 'KHALIFA UNIVERSITY'
 'KHAZAR UNIVERSITY' 'KHON KAEN UNIVERSITY'
 'KING ABDUL AZIZ UNIVERSITY (KAU)'
 'KING FAHD UNIVERSITY OF PETROLEUM & MINERALS (KFUPM)'
 'KING FAISAL UNIVERSITY' 'KING KHALID UNIVERSITY'
 "KING MONGKUT'S UNIVERSITY OF TECHNOLOGY THONBURI "
 'KING SAUD UNIVERSITY (KSU)' "KING'S COLLEGE LONDON (KCL)"
 'KINGSTON UNIVERSITY, LONDON' 'KIT, KARLSRUHER INSTITUT FÜR TECHNOLOGIE'
 'KOBE UNIVERSITY' 'KONKUK UNIVERSITY ' 'KOREA UNIVERSITY'
 'KOÇ UNIVERSITY ' 'KTH, ROYAL INSTITUTE OF TECHNOLOGY'
 'KUMAMOTO UNIVERSITY' 'KUWAIT UNIVERSITY' 'KYOTO UNIVERSITY'
 'KYUNG HEE UNIVERSITY' 'KYUNGPOOK NATIONAL UNIVERSITY'
 'KYUSHU UNIVERSITY' 'L.N. GUMILYOV EURASIAN NATIONAL UNIVERSITY '
 'LA TROBE UNIVERSITY' 'LAHORE UNIVERSITY OF MANAGEMENT SCIENCES (LUMS)'
 'LANCASTER UNIVERSITY' 'LANZHOU UNIVERSITY' 'LAVAL UNIVERSITY'
 'LEBANESE AMERICAN UNIVERSITY' 'LEHIGH UNIVERSITY'
 'LEIBNIZ UNIVERSITÄT HANNOVER' 'LEIDEN UNIVERSITY' 'LINCOLN UNIVERSITY '
 'LINGNAN UNIVERSITY (HONG KONG)' 'LINKÖPING UNIVERSITY'
 'LOBACHEVSKY STATE UNIVERSITY OF NIZHNI NOVGOROD'
 'LOMONOSOV MOSCOW STATE UNIVERSITY ' 'LONDON METROPOLITAN UNIVERSITY'
 'LONDON SCHOOL OF ECONOMICS AND POLITICAL SCIENCE (LSE)'
 'LOUGHBOROUGH UNIVERSITY' 'LOUISIANA STATE UNIVERSITY'
 'LOYOLA UNIVERSITY CHICAGO' 'LUDWIG-MAXIMILIANS-UNIVERSITÄT MÜNCHEN'
 'LUND UNIVERSITY' 'M.O.AUEZOV SOUTH KAZAKHSTAN STATE UNIVERSITY'
 'MAASTRICHT UNIVERSITY' 'MACQUARIE UNIVERSITY' 'MAHIDOL UNIVERSITY'
 'MAKERERE UNIVERSITY' 'MANCHESTER METROPOLITAN UNIVERSITY'
 'MARQUETTE UNIVERSITY' 'MARTIN-LUTHER-UNIVERSITÄT HALLE-WITTENBERG'
 'MASARYK UNIVERSITY' 'MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT) '
 'MASSEY UNIVERSITY' 'MAYNOOTH UNIVERSITY' 'MCGILL UNIVERSITY'
 'MCMASTER UNIVERSITY' 'MEMORIAL UNIVERSITY OF NEWFOUNDLAND'
 'MIAMI UNIVERSITY' 'MICHIGAN STATE UNIVERSITY'
 'MICHIGAN TECHNOLOGICAL UNIVERSITY' 'MIDDLE EAST TECHNICAL UNIVERSITY'
 'MIDDLESEX UNIVERSITY' 'MISSOURI UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'MONASH UNIVERSITY'
 'MOSCOW INSTITUTE OF PHYSICS AND TECHNOLOGY STATE UNIVERSITY'
 'MOSCOW STATE INSTITUTE OF INTERNATIONAL RELATIONS \x96 MGIMO UNIVERSITY '
 'MURDOCH UNIVERSITY' 'NAGASAKI UNIVERSITY' 'NAGOYA UNIVERSITY'
 'NANJING UNIVERSITY' 'NANKAI UNIVERSITY'
 'NANYANG TECHNOLOGICAL UNIVERSITY (NTU)'
 'NATIONAL AND KAPODISTRIAN UNIVERSITY OF ATHENS'
 'NATIONAL CENTRAL UNIVERSITY' 'NATIONAL CHENG KUNG UNIVERSITY'
 'NATIONAL CHENGCHI UNIVERSITY' 'NATIONAL CHIAO TUNG UNIVERSITY'
 'NATIONAL CHUNG HSING UNIVERSITY'
 'NATIONAL RESEARCH NUCLEAR UNIVERSITY "MEPHI" (MOSCOW ENGINEERING PHYSICS INSTITUTE)'
 'NATIONAL RESEARCH SARATOV STATE UNIVERSITY'
 'NATIONAL RESEARCH UNIVERSITY - HIGHER SCHOOL OF ECONOMICS (HSE)'
 'NATIONAL SUN YAT-SEN UNIVERSITY'
 'NATIONAL TAIPEI UNIVERSITY OF TECHNOLOGY'
 'NATIONAL TAIWAN NORMAL UNIVERSITY' 'NATIONAL TAIWAN UNIVERSITY (NTU)'
 'NATIONAL TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'NATIONAL TECHNICAL UNIVERSITY "KHARKIV POLYTECHNIC INSTITUTE"'
 'NATIONAL TECHNICAL UNIVERSITY OF ATHENS'
 'NATIONAL TECHNICAL UNIVERSITY OF UKRAINE "KYIV POLYTECHNIC INSTITUTE"'
 'NATIONAL TSING HUA UNIVERSITY'
 'NATIONAL UNIVERSITY OF IRELAND, GALWAY (NUIG)'
 'NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY "MISIS"'
 'NATIONAL UNIVERSITY OF SCIENCES AND TECHNOLOGY (NUST) ISLAMABAD'
 'NATIONAL UNIVERSITY OF SINGAPORE (NUS)' 'NATIONAL YANG MING UNIVERSITY'
 'NEW JERSEY INSTITUTE OF TECHNOLOGY (NJIT)' 'NEW SCHOOL UNIVERSITY'
 'NEW YORK UNIVERSITY (NYU)' 'NEWCASTLE UNIVERSITY'
 'NICOLAUS COPERNICUS UNIVERSITY ' 'NIIGATA UNIVERSITY'
 'NORTH CAROLINA STATE UNIVERSITY' 'NORTH-WEST UNIVERSITY'
 'NORTHEASTERN UNIVERSITY' 'NORTHUMBRIA UNIVERSITY AT NEWCASTLE'
 'NORTHWESTERN UNIVERSITY'
 'NORWEGIAN UNIVERSITY OF SCIENCE AND TECHNOLOGY'
 'NOTTINGHAM TRENT UNIVERSITY' 'NOVOSIBIRSK STATE TECHNICAL UNIVERSITY'
 'NOVOSIBIRSK STATE UNIVERSITY' 'OCHANOMIZU UNIVERSITY'
 'OHIO STATE UNIVERSITY' 'OHIO UNIVERSITY' 'OKAYAMA UNIVERSITY'
 'OKLAHOMA STATE UNIVERSITY ' 'OREGON STATE UNIVERSITY'
 'OSAKA CITY UNIVERSITY' 'OSAKA PREFECTURE UNIVERSITY ' 'OSAKA UNIVERSITY'
 'OXFORD BROOKES UNIVERSITY' 'PALACKÝ UNIVERSITY IN OLOMOUC'
 'PANJAB UNIVERSITY' 'PARIS LODRON UNIVERSITÄT SALZBURG'
 'PEKING UNIVERSITY' 'PENNSYLVANIA STATE UNIVERSITY'
 "PEOPLE'S FRIENDSHIP UNIVERSITY OF RUSSIA"
 'PETER THE GREAT ST.PETERSBURG POLYTECHNIC UNIVERSITY'
 'PHILIPPS-UNIVERSITÄT MARBURG '
 'PLEKHANOV RUSSIAN UNIVERSITY OF ECONOMICS'
 'POHANG UNIVERSITY OF SCIENCE AND TECHNOLOGY (POSTECH)'
 'POLITECNICO DI MILANO' 'POLITECNICO DI TORINO' 'POLITÉCNICA DE MADRID'
 'PONTIFICIA UNIVERSIDAD CATOLICA DEL ECUADOR'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DE CHILE'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DE VALPARAÍSO'
 'PONTIFICIA UNIVERSIDAD CATÓLICA DEL PERÚ'
 'PONTIFICIA UNIVERSIDAD JAVERIANA'
 'PONTIFICIA UNIVERSIDADE CATÓLICA DE SÃO PAULO (PUC-SP)'
 'PONTIFICIA UNIVERSIDADE CATÓLICA DO RIO DE JANEIRO - PUC - RIO'
 'PONTIFICIA UNIVERSIDADE CATÓLICA DO RIO GRANDE DO SUL'
 'PRINCE OF SONGKLA UNIVERSITY' 'PRINCETON UNIVERSITY' 'PURDUE UNIVERSITY'
 'PUSAN NATIONAL UNIVERSITY' 'QATAR UNIVERSITY' 'QUAID-I-AZAM UNIVERSITY'
 'QUEEN MARY UNIVERSITY OF LONDON (QMUL)' "QUEEN'S UNIVERSITY"
 "QUEEN'S UNIVERSITY OF BELFAST"
 'QUEENSLAND UNIVERSITY OF TECHNOLOGY (QUT)' 'RADBOUD UNIVERSITY NIJMEGEN'
 'RENMIN (PEOPLE\x92S) UNIVERSITY OF CHINA'
 'RENSSELAER POLYTECHNIC INSTITUTE'
 'RHEINISCH-WESTFÄLISCHE TECHNISCHE HOCHSCHULE AACHEN'
 'RHEINISCHE FRIEDRICH-WILHELMS-UNIVERSITÄT BONN' 'RHODES UNIVERSITY '
 'RICE UNIVERSITY' 'RITSUMEIKAN UNIVERSITY' 'RMIT UNIVERSITY'
 'ROYAL HOLLOWAY UNIVERSITY OF LONDON' 'RUHR-UNIVERSITÄT BOCHUM'
 'RUPRECHT-KARLS-UNIVERSITÄT HEIDELBERG'
 'RUTGERS - THE STATE UNIVERSITY OF NEW JERSEY, NEW BRUNSWICK'
 'RUTGERS - THE STATE UNIVERSITY OF NEW JERSEY, NEWARK'
 'RYERSON UNIVERSITY' 'SABANCI UNIVERSITY'
 'SAINT-PETERSBURG STATE UNIVERSITY' 'SAITAMA UNIVERSITY'
 'SAN DIEGO STATE UNIVERSITY' 'SAPIENZA - UNIVERSITÀ DI ROMA'
 'SCIENCES PO PARIS' 'SEJONG UNIVERSITY '
 'SEOUL NATIONAL UNIVERSITY (SNU)'
 'SEPULUH NOPEMBER INSTITUTE OF TECHNOLOGY'
 'SHAHID BEHESHTI UNIVERSITY TEHRAN' 'SHANDONG UNIVERSITY'
 'SHANGHAI JIAO TONG UNIVERSITY' 'SHANGHAI UNIVERSITY'
 'SHINSHU UNIVERSITY ' 'SICHUAN UNIVERSITY' 'SIMON FRASER UNIVERSITY'
 'SINGAPORE MANAGEMENT UNIVERSITY' 'SMITH COLLEGE'
 'SOAS - SCHOOL OF ORIENTAL AND AFRICAN STUDIES, UNIVERSITY OF LONDON '
 'SOFIA UNIVERSITY "ST. KLIMENT OHRIDSKI"' 'SOGANG UNIVERSITY'
 'SOUTH CHINA UNIVERSITY OF TECHNOLOGY' 'SOUTHEAST UNIVERSITY'
 'SOUTHERN FEDERAL UNIVERSITY' 'SOUTHERN METHODIST UNIVERSITY'
 'STANFORD UNIVERSITY' 'STELLENBOSCH UNIVERSITY'
 'STEVENS INSTITUTE OF TECHNOLOGY' 'STOCKHOLM UNIVERSITY'
 'STONY BROOK UNIVERSITY' 'SULTAN QABOOS UNIVERSITY'
 'SUMY STATE UNIVERSITY' 'SUN YAT-SEN UNIVERSITY'
 'SUNGKYUNKWAN UNIVERSITY' 'SWANSEA UNIVERSITY'
 'SWINBURNE UNIVERSITY OF TECHNOLOGY' 'SYRACUSE UNIVERSITY'
 'TAIPEI MEDICAL UNIVERSITY' 'TALLINN UNIVERSITY OF TECHNOLOGY'
 'TAMPERE UNIVERSITY OF TECHNOLOGY '
 'TARAS SHEVCHENKO NATIONAL UNIVERSITY OF KYIV'
 'TECHNICAL UNIVERSITY OF DENMARK'
 'TECHNION - ISRAEL INSTITUTE OF TECHNOLOGY'
 'TECHNISCHE UNIVERSITÄT BERLIN' 'TECHNISCHE UNIVERSITÄT BRAUNSCHWEIG'
 'TECHNISCHE UNIVERSITÄT DARMSTADT' 'TECHNISCHE UNIVERSITÄT DORTMUND'
 'TECHNISCHE UNIVERSITÄT DRESDEN' 'TECHNISCHE UNIVERSITÄT MÜNCHEN'
 'TECHNISCHE UNIVERSITÄT WIEN' 'TECNOLÓGICO DE MONTERREY (ITESM)'
 'TEL AVIV UNIVERSITY' 'TEMPLE UNIVERSITY' 'TEXAS A&M UNIVERSITY'
 'THAMMASAT UNIVERSITY' 'THE CATHOLIC UNIVERSITY OF KOREA '
 'THE CHINESE UNIVERSITY OF HONG KONG (CUHK)'
 'THE HONG KONG POLYTECHNIC UNIVERSITY'
 'THE HONG KONG UNIVERSITY OF SCIENCE AND TECHNOLOGY (HKUST)'
 'THE ROBERT GORDON UNIVERSITY' 'THE UNIVERSITY OF ADELAIDE'
 'THE UNIVERSITY OF AUCKLAND' 'THE UNIVERSITY OF GEORGIA'
 'THE UNIVERSITY OF MANCHESTER' 'THE UNIVERSITY OF MELBOURNE'
 'THE UNIVERSITY OF NEW SOUTH WALES (UNSW)' 'THE UNIVERSITY OF NOTTINGHAM'
 'THE UNIVERSITY OF QUEENSLAND (UQ)' 'THE UNIVERSITY OF SHEFFIELD'
 'THE UNIVERSITY OF SYDNEY' 'THE UNIVERSITY OF TOKYO'
 'THE UNIVERSITY OF WARWICK' 'THE UNIVERSITY OF WESTERN AUSTRALIA (UWA)'
 'TIANJIN UNIVERSITY' 'TILBURG UNIVERSITY' 'TOHOKU UNIVERSITY'
 'TOKAI UNIVERSITY' 'TOKYO INSTITUTE OF TECHNOLOGY'
 'TOKYO MEDICAL AND DENTAL UNIVERSITY ' 'TOKYO METROPOLITAN UNIVERSITY'
 'TOKYO UNIVERSITY OF AGRICULTURE AND TECHNOLOGY '
 'TOKYO UNIVERSITY OF SCIENCE' 'TOMSK POLYTECHNIC UNIVERSITY'
 'TOMSK STATE UNIVERSITY' 'TONGJI UNIVERSITY'
 'TRINITY COLLEGE DUBLIN (TCD)' 'TSINGHUA UNIVERSITY' 'TUFTS UNIVERSITY'
 'TULANE UNIVERSITY' 'UCL (UNIVERSITY COLLEGE LONDON)' 'UMEÅ UNIVERSITY'
 'UMM AL-QURA UNIVERSITY (UQU)' 'UNITED ARAB EMIRATES UNIVERSITY'
 'UNIVERSIDAD ADOLFO IBÁÑEZ' 'UNIVERSIDAD ANAHUAC' 'UNIVERSIDAD AUSTRAL'
 'UNIVERSIDAD AUSTRAL DE CHILE' 'UNIVERSIDAD AUTÓNOMA DE MADRID'
 'UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN (UANL)'
 'UNIVERSIDAD AUTÓNOMA DEL ESTADO DE MÉXICO'
 'UNIVERSIDAD AUTÓNOMA METROPOLITANA (UAM)'
 'UNIVERSIDAD CARLOS III DE MADRID'
 'UNIVERSIDAD CATÓLICA ANDRÉS BELLO - UCAB'
 'UNIVERSIDAD CENTRAL DE VENEZUELA (UCV)'
 'UNIVERSIDAD COMPLUTENSE DE MADRID (UCM)' 'UNIVERSIDAD DE ALCALÁ'
 'UNIVERSIDAD DE ANTIOQUIA' 'UNIVERSIDAD DE BELGRANO'
 'UNIVERSIDAD DE BUENOS AIRES' 'UNIVERSIDAD DE CHILE'
 'UNIVERSIDAD DE CONCEPCIÓN' 'UNIVERSIDAD DE GRANADA'

In [43]:
cleaned_2018.replace('-', np.nan).isna().sum()

2018                              0
2017                              0
Institution Name                  0
Country                           0
Classification_SIZE               0
FOCUS                             0
RESEARCH INTENSITY                0
AGE                               0
STATUS                            0
Academic Reputation_SCORE       502
Employer Reputation_SCORE       502
Faculty Student_SCORE           406
Citations per Faculty_SCORE     406
International Faculty_SCORE     406
International Students_SCORE    406
Overall Score                   406
dtype: int64

In [44]:
cleaned_2018 = cleaned_2018.replace('-', np.nan).dropna()

In [45]:
cleaned_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393 entries, 0 to 399
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   2018                          393 non-null    object
 1   2017                          393 non-null    object
 2   Institution Name              393 non-null    object
 3   Country                       393 non-null    object
 4   Classification_SIZE           393 non-null    object
 5   FOCUS                         393 non-null    object
 6   RESEARCH INTENSITY            393 non-null    object
 7   AGE                           393 non-null    float64
 8   STATUS                        393 non-null    object
 9   Academic Reputation_SCORE     393 non-null    object
 10  Employer Reputation_SCORE     393 non-null    object
 11  Faculty Student_SCORE         393 non-null    object
 12  Citations per Faculty_SCORE   393 non-null    object
 13  International Faculty_SCORE   393 non-null    object
 14  International Students_SCORE  393 non-null    object
 15  Overall Score                 393 non-null    object
dtypes: float64(1), object(15)
memory usage: 52.2+ KB

In [46]:
cleaned_2018['2018'] = cleaned_2018['2018'].str.strip().str.replace('=','')
cleaned_2018['2017'] = cleaned_2018['2017'].str.strip().str.replace('=','')

In [47]:
    cleaned_2018.tail(10)

,2018,2017,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
390,391,380,DUBLIN CITY UNIVERSITY (DCU),Ireland,L,CO,HI,3.0,A,22.2,46.3,35.8,17.3,78.4,57.2,31
391,391,411-420,NATIONAL CENTRAL UNIVERSITY,Taiwan,M,CO,VH,4.0,A,32.5,17.3,31.7,40.3,15.6,19.6,31
392,391,411-420,UNIVERSITY OF UTAH,United States,L,FC,VH,5.0,A,21.2,11.1,60.1,38.2,16.3,17.2,31
393,394,374,UNIVERSITY OF COLORADO AT DENVER,United States,L,FC,VH,5.0,A,12.1,11.5,100,18.8,4.4,15.5,30.8
394,395,365,AMERICAN UNIVERSITY IN CAIRO,Egypt,M,CO,HI,4.0,B,31,49.3,37.1,5.1,90.7,5.8,30.7
395,395,401-410,ILLINOIS INSTITUTE OF TECHNOLOGY,United States,M,CO,VH,5.0,B,23.6,13.9,19,49.7,21.4,100,30.7
396,397,431-440,HUFS  HANKUK (KOREA) UNIVERSITY OF FOREIGN ST...,South Korea,L,CO,MD,4.0,B,18.7,31.5,78.3,2.1,37.9,39,30.6
397,398,421-430,"GOLDSMITHS, UNIVERSITY OF LONDON",United Kingdom,M,FO,VH,5.0,A,27.3,13.2,25.5,19.7,85,97.2,30.5
398,398,401-410,JOHANNES GUTENBERG UNIVERSITÄT MAINZ,Germany,XL,FC,HI,5.0,A,27.9,25.2,48.7,20.1,35.1,24.6,30.5
399,398,401-410,TAIPEI MEDICAL UNIVERSITY,Taiwan,M,FO,VH,4.0,B,15.5,14.8,84.7,18.7,24.4,17.3,30.5

In [48]:
cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.replace(',','')
cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.replace('.','')
cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.lower()
cleaned_na['Institution Name']

C:\Users\RosaY\AppData\Local\Temp/ipykernel_6412/1383066430.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cleaned_na['Institution Name'] = cleaned_na['Institution Name'].str.replace('.','')

0       massachusetts institute of technology (mit)
1                               stanford university
2                                harvard university
3                              university of oxford
4      california institute of technology (caltech)
                           ...
495                          university of delaware
496          vn karazin kharkiv national university
497            czech technical university in prague
498                       université de montpellier
499                   university of eastern finland
Name: Institution Name, Length: 485, dtype: object

In [49]:
cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.replace(',','')
cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.replace('.','')
cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.lower()

C:\Users\RosaY\AppData\Local\Temp/ipykernel_6412/1855154734.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cleaned_2019['Institution Name'] = cleaned_2019['Institution Name'].str.replace('.','')

In [50]:
cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.replace(',','')
cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.replace('.','')
cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.lower()

C:\Users\RosaY\AppData\Local\Temp/ipykernel_6412/2254099.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cleaned_2018['Institution Name'] = cleaned_2018['Institution Name'].str.replace('.','')

In [125]:
final = pd.concat([cleaned_na, cleaned_2019, cleaned_2018], axis = 1).dropna()

In [129]:
final[['Rank in 2020', 'Rank in 2019', '2019', '2018', '2017', 'Institution Name']]

,Rank in 2020,Rank in 2019,2019,2018,2018,2017,Institution Name,Institution Name,Institution Name
0,1,1,1,1,1,1,Massachusetts Institute of Technology (MIT),MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT)
1,2,2,2,2,2,2,Stanford University,STANFORD UNIVERSITY,STANFORD UNIVERSITY
2,3,3,3,3,3,3,Harvard University,HARVARD UNIVERSITY,HARVARD UNIVERSITY
3,4,5,4,4,4,5,University of Oxford,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH)
4,5,4,5,6,5,4,California Institute of Technology (Caltech),UNIVERSITY OF OXFORD,UNIVERSITY OF CAMBRIDGE
...,...,...,...,...,...,...,...,...,...
393,392,446,394,336,394,374,RUDN University,L.N. GUMILYOV EURASIAN NATIONAL UNIVERSITY,UNIVERSITY OF COLORADO AT DENVER
394,392,397,394,411-420,395,365,University of Colorado at Denver,UNIVERSITY OF WARSAW,AMERICAN UNIVERSITY IN CAIRO
395,395,352,396,398,395,401-410,Kobe University,"GOLDSMITHS, UNIVERSITY OF LONDON",ILLINOIS INSTITUTE OF TECHNOLOGY
397,395,420,397,360,398,421-430,The American University in Cairo,LA TROBE UNIVERSITY,"GOLDSMITHS, UNIVERSITY OF LONDON"
399,398,387,397,385,398,401-410,Wake Forest University,UNIVERSITÄT KONSTANZ,TAIPEI MEDICAL UNIVERSITY

In [131]:
final.columns

Index(['Rank in 2020', 'Rank in 2019', 'Institution Name', 'Country',
       'Classification_SIZE', 'FOCUS', 'RESEARCH INTENSITY', 'AGE', 'STATUS',
       'Academic Reputation_SCORE', 'RANK', 'Employer Reputation_SCORE',
       'RANK', 'Faculty Student_SCORE', 'RANK', 'Citations per Faculty_SCORE',
       'RANK', 'International Faculty_SCORE', 'RANK',
       'International Students_SCORE', 'RANK', 'Overall Score', '2019', '2018',
       'Institution Name', 'Country', 'Classification_SIZE', 'FOCUS',
       'RESEARCH INTENSITY', 'AGE', 'STATUS', 'Academic Reputation_SCORE',
       'RANK', 'Employer Reputation_SCORE', 'RANK', 'Faculty Student_SCORE',
       'RANK', 'Citations per Faculty_SCORE', 'RANK',
       'International Faculty_SCORE', 'RANK', 'International Students_SCORE',
       'RANK', 'Overall Score', '2018', '2017', 'Institution Name', 'Country',
       'Classification_SIZE', 'FOCUS', 'RESEARCH INTENSITY', 'AGE', 'STATUS',
       'Academic Reputation_SCORE', 'RANK', 'Employer Reputation_SCORE',
       'RANK', 'Faculty Student_SCORE', 'RANK', 'Citations per Faculty_SCORE',
       'RANK', 'International Faculty_SCORE', 'RANK',
       'International Students_SCORE', 'RANK', 'Overall Score'],
      dtype='object')

In [229]:
cleaned_na

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
0,1,1,massachusetts institute of technology (mit),United States,M,CO,VH,5.0,B,100,100,100,99.8,100,94.1,100
1,2,2,stanford university,United States,L,FC,VH,5.0,B,100,100,100,98.6,99.8,67.7,98.4
2,3,3,harvard university,United States,L,FC,VH,5.0,B,100,100,98.7,99.6,86.3,62.2,97.4
3,4,5,university of oxford,United Kingdom,L,FC,VH,5.0,A,100,100,100,84.7,99.7,98.5,97.2
4,5,4,california institute of technology (caltech),United States,S,CO,VH,5.0,B,97.8,81.2,100,100,99.4,87.3,96.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,491,439,university of delaware,United States,L,CO,VH,5.0,A,11,10.2,11.6,67.1,39.3,22.5,24.3
496,491,481,vn karazin kharkiv national university,Ukraine,L,FC,MD,5.0,A,10.8,11.4,72.2,1.8,1.3,78.4,24.3
497,498,531-540,czech technical university in prague,Czech Republic,L,SP,VH,5.0,A,18.7,39.7,33.9,10.6,18.2,57.5,24.2
498,498,422,université de montpellier,France,XL,CO,VH,1.0,A,20.3,18.8,13.1,42.8,20.1,39.3,24.2
499,498,481,university of eastern finland,Finland,M,CO,VH,3.0,A,14.5,10.5,43.8,33.5,27.9,9.1,24.2

In [230]:
cleaned_2018

,2018,2017,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
0,1,1,massachusetts institute of technology (mit),United States,M,CO,VH,5.0,B,100,100,100,99.9,100,96.1,100
1,2,2,stanford university,United States,L,FC,VH,5.0,B,100,100,100,99.4,99.6,72.7,98.7
2,3,3,harvard university,United States,L,FC,VH,5.0,B,100,100,98.3,99.9,96.5,75.2,98.4
3,4,5,california institute of technology (caltech),United States,S,CO,VH,5.0,B,99.5,85.4,100,100,93.4,89.2,97.7
4,5,4,university of cambridge,United Kingdom,L,FC,VH,5.0,A,100,100,100,78.3,97.4,97.7,95.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,401-410,illinois institute of technology,United States,M,CO,VH,5.0,B,23.6,13.9,19,49.7,21.4,100,30.7
396,397,431-440,hufs  hankuk (korea) university of foreign st...,South Korea,L,CO,MD,4.0,B,18.7,31.5,78.3,2.1,37.9,39,30.6
397,398,421-430,goldsmiths university of london,United Kingdom,M,FO,VH,5.0,A,27.3,13.2,25.5,19.7,85,97.2,30.5
398,398,401-410,johannes gutenberg universität mainz,Germany,XL,FC,HI,5.0,A,27.9,25.2,48.7,20.1,35.1,24.6,30.5
399,398,401-410,taipei medical university,Taiwan,M,FO,VH,4.0,B,15.5,14.8,84.7,18.7,24.4,17.3,30.5

In [231]:
cleaned_2019

,2019,2018,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,Employer Reputation_SCORE,Faculty Student_SCORE,Citations per Faculty_SCORE,International Faculty_SCORE,International Students_SCORE,Overall Score
0,1,1,massachusetts institute of technology (mit),United States,M,CO,VH,5.0,B,100,100,100,99.8,100,95.5,100
1,2,2,stanford university,United States,L,FC,VH,5.0,B,100,100,100,99,99.8,70.5,98.6
2,3,3,harvard university,United States,L,FC,VH,5.0,B,100,100,99.3,99.8,92.1,75.7,98.5
3,4,4,california institute of technology (caltech),United States,S,CO,VH,5.0,B,98.7,81.2,100,100,96.8,90.3,97.2
4,5,6,university of oxford,United Kingdom,L,FC,VH,5.0,A,100,100,100,83,99.6,98.8,96.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,498,501-550,amirkabir university of technology,Iran,M,FO,VH,4.0,A,4.9,9.8,8.6,92.7,4.2,2.5,23.6
498,498,551-600,western sydney university,Australia,XL,FC,HI,3.0,A,15.9,26.4,9.9,25.9,100,47.8,23.6
499,500,441-450,singapore management university,Singapore,M,SP,HI,2.0,A,12.7,29,13.8,21.2,100,69.4,23.5
501,500,491-500,université saint-joseph de beyrouth,Lebanon,M,FC,MD,5.0,B,7.7,26.9,68.1,2.3,62.2,10.2,23.5
502,500,551-600,university of science and technology beijing,China,L,CO,VH,4.0,A,18.2,6,18.9,56.3,5,4.6,23.5

In [51]:
names_2019 = list(cleaned_2019['Institution Name'])
names_2018 = list(cleaned_2018['Institution Name'])
names_2020 = list(cleaned_na['Institution Name'])

In [144]:
for i in range(len(names_2020)):
    names_2020[i] = names_2020[i].lower()
for i in range(len(names_2019)):
    names_2019[i] = names_2019[i].lower()

In [52]:
names_2020

['massachusetts institute of technology (mit)',
 'stanford university',
 'harvard university',
 'university of oxford',
 'california institute of technology (caltech)',
 'eth zurich (swiss federal institute of technology)',
 'university of cambridge',
 'ucl (university college london)',
 'imperial college london',
 'university of chicago',
 'nanyang technological university (ntu)',
 'national university of singapore (nus)',
 'princeton university',
 'cornell university',
 'university of pennsylvania',
 'tsinghua university',
 'yale university',
 'columbia university',
 'ecole polytechnique fédérale de lausanne (epfl)',
 'university of edinburgh',
 'university of michigan',
 'peking university',
 'the university of tokyo',
 'johns hopkins university',
 'duke university',
 'university of hong kong (hku)',
 'the university of manchester',
 'university of california berkeley (ucb)',
 'australian national university (anu)',
 'university of toronto',
 'northwestern university',
 'the hong kong university of science and technology (hkust)',
 "king's college london (kcl)",
 'kyoto university',
 'mcgill university',
 'university of california los angeles (ucla)',
 'seoul national university (snu)',
 'the university of melbourne',
 'new york university (nyu)',
 'fudan university',
 'kaist - korea advanced institute of science and technology',
 'the university of sydney',
 'the university of new south wales (unsw)',
 'london school of economics and political science (lse)',
 'university of california san diego (ucsd)',
 'the chinese university of hong kong (cuhk)',
 'the university of queensland (uq)',
 'carnegie mellon university',
 'university of bristol',
 'delft university of technology',
 'university of british columbia',
 'city university of hong kong',
 'zhejiang university',
 'technische universität münchen',
 'university of wisconsin-madison',
 'brown university',
 'monash university',
 'tokyo institute of technology',
 'ecole polytechnique',
 'shanghai jiao tong university',
 'the university of warwick',
 'ludwig-maximilians-universität münchen',
 'university of amsterdam',
 'university of texas at austin',
 'ruprecht-karls-universität heidelberg',
 'university of glasgow',
 'university of washington',
 'national taiwan university (ntu)',
 'universiti malaya (um)',
 'osaka university',
 'georgia institute of technology (georgia tech)',
 'universidad de buenos aires',
 'university of illinois at urbana-champaign',
 'university of zurich',
 'sorbonne university',
 'durham university',
 'the university of sheffield',
 'katholieke universiteit leuven',
 'university of birmingham',
 'university of copenhagen',
 'tohoku university',
 'korea university',
 'the university of auckland',
 'lomonosov moscow state university',
 'rice university',
 'the university of western australia (uwa)',
 'pohang university of science and technology (postech)',
 'university of science and technology of china',
 'university of north carolina chapel hill',
 'the hong kong polytechnic university',
 'lund university',
 'pennsylvania state university',
 'university of leeds',
 'sungkyunkwan university',
 'the university of nottingham',
 'university of southampton',
 'boston university',
 'kth royal institute of technology',
 'university of st andrews',
 'ohio state university',
 'eindhoven university of technology',
 'universidad nacional autónoma de méxico (unam)',
 'university of california davis (ucd)',
 'yonsei university',
 'the university of adelaide',
 'university of helsinki',
 'trinity college dublin (tcd)',
 'washington university in st louis',
 'university of geneva',
 'purdue university',
 'technical university of denmark',
 'university of alberta',
 'university of groningen',
 'nagoya university',
 'universidade de são paulo (usp)',
 'uppsala university',
 'leiden university',
 'university of oslo',
 'humboldt-universität zu berlin',
 'nanjing university',
 'utrecht university',
 'university of bern',
 'kit karlsruher institut für technologie',
 'chalmers university of technology',
 'wageningen university',
 'queen mary university of london (qmul)',
 'pontificia universidad católica de chile',
 'lancaster university',
 'university of southern california',
 'freie universität berlin',
 'university of ghent',
 'hokkaido university',
 'kyushu university',
 'aalto university',
 'university of california santa barbara (ucsb)',
 'university of maryland college park',
 'université de montréal',
 'rheinisch-westfälische technische hochschule aachen',
 'centralesupélec',
 'mcmaster university',
 'university of pittsburgh',
 'university of technology sydney (uts)',
 'michigan state university',
 'aarhus university',
 'newcastle university',
 'technische universität berlin',
 'university of york',
 'politecnico di milano',
 'hanyang university',
 'university of basel',
 'indian institute of technology bombay (iitb)',
 'university of lausanne',
 'cardiff university',
 'universität wien',
 'emory university',
 'university of minnesota',
 'tecnológico de monterrey (itesm)',
 'universiti putra malaysia (upm)',
 'ecole normale supérieure de lyon',
 'universiti kebangsaan malaysia (ukm)',
 'hebrew university of jerusalem',
 'university of bergen',
 'university of exeter',
 'universitat de barcelona (ub)',
 'universiti sains malaysia (usm)',
 'case western reserve university',
 'université catholique de louvain (ucl)',
 'university of florida',
 'eberhard karls universität tübingen',
 'universität freiburg',
 'university of rochester',
 'university of bath',
 'national tsing hua university',
 "queen's university of belfast",
 'university of waterloo',
 'university of otago',
 'università di bologna (unibo)',
 'technische universität dresden',
 'university of liverpool',
 'indian institute of technology delhi (iitd)',
 'erasmus university rotterdam',
 'indian institute of science (iisc) bangalore',
 'university college dublin (ucd)',
 'king abdul aziz university (kau)',
 'university of twente',
 'universitat autónoma de barcelona',
 'texas a&m university',
 'universidad de chile',
 'stockholm university',
 'technische universität wien',
 'universidad autónoma de madrid',
 'university of aberdeen',
 'vrije universiteit brussel (vub)',
 'georg-august-universität göttingen',
 'university of cape town',
 'university of virginia',
 'keio university',
 'king fahd university of petroleum & minerals (kfupm)',
 'vanderbilt university',
 'waseda university',
 'sapienza - università di roma',
 'university of reading',
 'university of colorado at boulder',
 'al-farabi kazakh national university',
 'dartmouth college',
 'university of newcastle',
 'university of notre dame',
 'western university',
 'universidad complutense de madrid (ucm)',
 'university of wollongong',
 'universidade estadual de campinas (unicamp)',
 'arizona state university',
 'victoria university of wellington',
 'radboud university nijmegen',
 'universiti teknologi malaysia (utm)',
 'tel aviv university',
 'university of california irvine (uci)',
 'vrije universiteit amsterdam',
 'loughborough university',
 'university of antwerp',
 'queensland university of technology (qut)',
 'national cheng kung university',
 'georgetown university',
 'national chiao tung university',
 'universität hamburg',
 'university of canterbury',
 'curtin university',
 'novosibirsk state university',
 'university of illinois chicago (uic)',
 'university of calgary',
 'saint-petersburg state university',
 'universidad de los andes colombia',
 'università degli studi di padova (unipd)',
 'macquarie university',
 'rmit university',
 'maastricht university',
 "queen's university",
 'university of leicester',
 'sciences po paris',
 'rheinische friedrich-wilhelms-universität bonn',
 'american university of beirut (aub)',
 'universidad de navarra',
 'university of sussex',
 'chulalongkorn university',
 'kyung hee university',
 'ecole des ponts paristech',
 'national taiwan university of science and technology',
 'université libre de bruxelles (ulb)',
 'tufts university',
 'universidad nacional de colombia',
 'university of gothenburg',
 'technion - israel institute of technology',
 'wuhan university',
 'national university of ireland galway (nuig)',
 'technische universität darmstadt',
 'hong kong baptist university (hkbu)',
 'rutgers - the state university of new jersey new brunswick',
 'université paris-sud 11',
 'university of arizona',
 'tongji university',
 'universität innsbruck',
 'university of waikato',
 'khalifa university',
 'tomsk state university',
 'university of tsukuba',
 'deakin university',
 'indian institute of technology madras (iitm)',
 'university of miami',
 'university of south australia (unisa)',
 'university of surrey',
 'qatar university',
 'beijing normal university',
 'harbin institute of technology',
 'universität stuttgart',
 'dalhousie university',
 'indian institute of technology kharagpur (iitkgp)',
 'king saud university (ksu)',
 'university of ottawa',
 'bauman moscow state technical university',
 'north carolina state university',
 'universitat pompeu fabra',
 'massey university',
 'national yang ming university',
 'sun yat-sen university',
 'university of turku',
 'charles university',
 'indian institute of technology kanpur (iitk)',
 'royal holloway university of london',
 'universität frankfurt am main',
 'university of tasmania',
 'university of indonesia',
 'university of strathclyde',
 'universidad carlos iii de madrid',
 'universiti brunei darussalam (ubd)',
 'universitat politècnica de catalunya',
 'university of tartu',
 'moscow institute of physics and technology state university',
 'università degli studi di milano',
 'university of dundee',
 'université paris 1 panthéon-sorbonne',
 'university of massachusetts amherst',
 "xi'an jiaotong university",
 'universität köln',
 'soas - school of oriental and african studies university of london',
 'university college cork (ucc)',
 'ens paris-saclay',
 'indiana university bloomington',
 'heriot-watt university',
 'mahidol university',
 'simon fraser university',
 'universität mannheim',
 'university of east anglia (uea)',
 'universität erlangen-nürnberg',
 'griffith university',
 'universitas gadjah mada',
 'gwangju institute of science and technology (gist)',
 'national research university - higher school of economics (hse)',
 'aalborg university',
 'linköping university',
 'university of hawaii at m?\x81noa',
 'virginia polytechnic institute (virginia tech)',
 'birkbeck college university of london',
 'national research nuclear university "mephi" (moscow engineering physics institute)',
 'united arab emirates university',
 'bandung institute of technology (itb)',
 'ewha womans university',
 'national taiwan normal university',
 'hiroshima university',
 'george washington university',
 'universidad politecnica de valencia',
 'jagiellonian university',
 'university of lisbon',
 'umeå university',
 'universität ulm',
 'university at buffalo suny',
 'northeastern university',
 'pontificia universidad católica argentina santa maría de los buenos aires (uca)',
 'university of jyväskylä',
 'westfälische wilhelms-universität münster',
 'politecnico di torino',
 'city university of london',
 'university of warsaw',
 'belarus state university',
 'université grenoble-alpes (uga)',
 'university of porto',
 'university of utah',
 'lincoln university',
 'university of the philippines',
 'universidade federal do rio de janeiro',
 'brunel university',
 'norwegian university of science and technology',
 'stony brook university',
 'tokyo medical and dental university',
 'university of victoria',
 'ural federal university',
 'moscow state institute of international relations \x96 mgimo university',
 'university of california santa cruz (ucsc)',
 'nankai university',
 'university of kent',
 'university of essex',
 'american university of sharjah',
 'tilburg university',
 'university of kansas',
 'university of southern denmark',
 'university of oulu',
 'oxford brookes university',
 'james cook university (jcu)',
 'university of connecticut',
 'sultan qaboos university',
 'taipei medical university',
 'université de strasbourg',
 'universiti teknologi brunei',
 'rensselaer polytechnic institute',
 'swinburne university of technology',
 'universidad de palermo',
 'tomsk polytechnic university',
 'university of macau',
 'università degli studi di trento',
 'università di pisa',
 'university of tromso',
 'kazan federal university',
 'rudn university',
 'university of colorado at denver',
 'kobe university',
 'the american university in cairo',
 'university of st gallen (hsg)',
 'wake forest university',
 'huazhong university of science and technology',
 'la trobe university',
 'national university of sciences and technology (nust) islamabad',
 'universidad austral',
 'university of the witwatersrand',
 'washington state university',
 'university of coimbra',
 'hufs \x96 hankuk (korea) university of foreign studies',
 'sharif university of technology',
 'university of tennessee',
 'johannes gutenberg universität mainz',
 'national sun yat-sen university',
 'chung-ang university',
 'johannes kepler universität linz (jku)',
 'shanghai university',
 'laval university',
 'goldsmiths university of london',
 'ln gumilyov eurasian national university',
 'ben gurion university of the negev',
 'tulane university',
 'illinois institute of technology',
 'universidade nova de lisboa',
 'university of iowa',
 'flinders university',
 'università degli studi di napoli federico ii',
 'universität konstanz',
 'national central university',
 'stellenbosch university',
 'dublin city university (dcu)',
 'tianjin university',
 'university of liege',
 'boston college',
 'ruhr-universität bochum',
 'universidad de zaragoza',
 'universidad politécnica de madrid',
 'beijing institute of technology',
 'itmo university',
 'universidad de belgrano',
 'peter the great stpetersburg polytechnic university',
 'universidade federal de são paulo (unifesp)',
 'university of saskatchewan',
 'aston university',
 'auckland university of technology',
 'bond university',
 'chiba university',
 'colorado state university',
 'ucsi university',
 'florida state university',
 'hitotsubashi university',
 'università degli studi di firenze (unifi)',
 'koç university',
 'national university of science and technology "misis"',
 'xiamen university',
 'dongguk university',
 'national technical university of athens',
 'sogang university',
 'university of california riverside (ucr)',
 'université de bordeaux',
 'vilnius university',
 'university of maryland baltimore county',
 'oregon state university',
 'beihang university',
 'concordia university',
 'julius-maximilians-universität würzburg',
 'swansea university',
 'the catholic university of korea',
 'university of science and technology beijing',
 'brandeis university',
 'pontificia universidad javeriana',
 'shandong university',
 'universität des saarlandes',
 'western sydney university',
 'yokohama city university',
 'pontificia universidad católica del perú',
 'the university of georgia',
 'university of delhi',
 'singapore management university',
 'christian-albrechts-universität zu kiel',
 'university of stirling',
 'south china university of technology',
 'universidad externado de colombia',
 'universidade estadual paulista "júlio de mesquita filho"',
 'universiti teknologi petronas (petronas)',
 'aberystwyth university',
 'chang gung university',
 'jilin university',
 'university of canberra',
 'wayne state university',
 'amirkabir university of technology',
 'universidad de santiago de chile (usach)',
 'moauezov south kazakhstan state university',
 'universidad de montevideo',
 'université aix-marseille',
 'university of delaware',
 'vn karazin kharkiv national university',
 'czech technical university in prague',
 'université de montpellier',
 'university of eastern finland']

In [60]:
a = []
for i, name in enumerate(names_2020):
    if name not in names_2019:
        a.append(name)
print(len(a))
print(len(names_2020))

25
485

In [61]:
b = []
for name in names_2019:
    if name not in names_2020:
        b.append(name)
print(len(b))
print(len(names_2019))

30
490

In [62]:
c = []
for i, name in enumerate(names_2018):
    if name not in names_2019:
        c.append(name)
print(len(c))
print(len(names_2018))

25
393

In [155]:
df_2019.dropna()[df_2019.dropna()['2019'] == '351'].replace('-', np.nan).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 350 to 350
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   2019                          1 non-null      object
 1   2018                          1 non-null      object
 2   Institution Name              1 non-null      object
 3   Country                       1 non-null      object
 4   Classification_SIZE           1 non-null      object
 5   FOCUS                         1 non-null      object
 6   RESEARCH INTENSITY            1 non-null      object
 7   AGE                           1 non-null      float64
 8   STATUS                        1 non-null      object
 9   Academic Reputation_SCORE     1 non-null      object
 10  RANK                          1 non-null      object
 11  Employer Reputation_SCORE     1 non-null      object
 12  RANK                          1 non-null      object
 13  Faculty Student_SCORE         1 non-null      object
 14  RANK                          1 non-null      object
 15  Citations per Faculty_SCORE   1 non-null      object
 16  RANK                          1 non-null      object
 17  International Faculty_SCORE   1 non-null      object
 18  RANK                          1 non-null      object
 19  International Students_SCORE  1 non-null      object
 20  RANK                          1 non-null      object
 21  Overall Score                 1 non-null      object
dtypes: float64(1), object(21)
memory usage: 184.0+ bytes

In [64]:
cleaned_na.to_csv('df2020.csv', index = False)
cleaned_2019.to_csv('df2019.csv', index = False)
cleaned_2018.to_csv('df2018.csv', index = False)